body {
  background-color: rgb(253, 251, 251);
  margin: 0;


}

/*Cabeçalho*/
#cabecalho {
  top: 0;
  position: fixed;
  background-color: rgb(16, 16, 17);
  width: 100%;
  height: 7%;
}

#titulo {

  margin-left: 100px;
  color: white;
}

/*Cabeçalho*/

#minha_fot {
  border-radius: 80%;
  margin-left: 40%;
  margin-top: 90px;
  width: 7%;
  height: 7%;
}

/*Rodape*/
#rodape {

  position: absolute;
  bottom: 0;
  color: white;
  background-color: rgb(87, 87, 87);
  width: 100%;


}

#texto1 {
  margin-left: 50px;

}

/*Rodape*/
