body{
    background-color: rgb(253, 251, 251);

}

a{
    color: inherit;
}

#cabecalho{
    width: -webkit-fill-available;
    top: 0px;
    position: fixed;
    background-image:  linear-gradient(to right , rgb(123, 255, 0), rgb(235, 235, 235));
    color: rgb(14, 94, 25);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#minha_foto{
    width: 200px;
    top: 0px;
    margin-top: 5%;
}

h4{
    font-size: 15px;
    text-align: end;
    color: rgb(17, 121, 4);
    background-color: ;
}

#licoes{
    display: inline-flex;
}