
body{
    background-color: rgb(253, 251, 251);
    margin: 0;
}

#cabecalho{
    position: fixed;
    top: 0;
    background-color: #1D80AF;
    width: 100%;
}

#titulo{
    display: inline-block;
}

#navy{
    display: inline-block;
}

#links li{
    display: inline-block;
}

#minha_foto{
    display: block;
    width: 300px;
    margin-left: 8%;
    margin-top: 10%;
    border-radius: 15%;
    margin-bottom: 20px;
}

.listas{
    display: inline-block;
    width: 40%;
    margin-left: 5%;
    background-color: #1EA9AC;
    margin-bottom: 20px;
}

#rodape{
    background-color: #1C61B1 ;
}

#rodape h3{
    margin-bottom: 0;
}

article,aside{
    display: inline-block;
    width: 400px;
    vertical-align: top;
    width: 40%;
    text-align: left;
    margin-left: 5%;
    background-color: #90EE90;
    padding-inline: 8px;
}

