body {
      background-color: rgb(253, 251, 251);
}

#cabecalho {
      position: fixed;
      top: 0;
}

#nav li {
      display: inline-block;
      margin-top: 70px;
      margin-right: 10px;
}

#minha_foto {
      width: 250px;
      margin-top: 100px;
}