body {
  background-color: rgb(253, 251, 251);
  margin-left: 0;
  margin-right: 0;
}


#cabecalho {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #ADE4AD;
}

#cabecalho h1 {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 8px;;
}

.image-container img {
  width: 160px;
  height: 160px;
  border-radius: 16px;
}

.image-container h2 {
  font-family: 'Montserrat', sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  background-color: #ADE4AD;
  padding: 24px;
}

.content h3 {
  text-align: center;
  margin: 0;
}

.lado-esquerdo {
  padding: 12px 24px 12px 32px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #5C5A91;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
}

.lado-esquerdo h3 {
  color: #5C5A91;
}

.list-container {
  display: flex;
  width: 450px;
  padding: 8px;
}

.list-container h4 {
  color: #5C5A91;
  font-size: 16px;
}

#licoes_aprendidas {
  margin-right: 32px;
}

.tabela {
  padding: 8px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabela table , th , td {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 300px;
}

.tabela th , td {
  text-align: center;
}

.tabela h3 {
  color: #5C5A91;
}

.lado-direito {
  display: flex;
  flex-direction: column;
  padding: 8px;
  line-height: 18px;
  align-items: center;
  margin-top: 16px;
  margin-left: 32px;
  font-family: 'Montserrat', sans-serif;
}

.aprendizado {
  width: 500px;
  text-align: justify;
  font-size: 16px;
  line-height: 18px;
}

.aprendizado_aside {
  width: 300px;
  font-size: 16px;
  float: right;
  color: #6A9ACB;
  font-weight: bold;
  margin: 16px 0 2px 16px;
  text-align: center;
}

.link {
  padding: 8px;
}

.link p {
  text-align: center;
}

.link a {
  color: #59c5a8;
  font-weight: bold;
}

#rodape {
  border-top: 1px solid black;
}

#rodape p {
  text-align: center;
}

