body {
  background-color: rgb(253, 251, 251);
  font-family: monospace;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(9, 119, 27);
  color: white;
  width: 100%;
}

#titulo {
  text-align: center;
}

main {
  margin-top: 135px;
}

#secao_foto {
  display: inline-block;
  margin-left: 5%;
  min-width: 25%;
  text-align: center;
}

#secao_foto a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 17px;
}

#minha_foto {
  width: 250px;
  margin: 1px;
  padding: 1px;
  border: 1px solid black;
}

.licao {
  display: inline-block;
  margin: 30px 50px 1px;
  text-align: justify;
}

.licao ol li , .licao ul li {
  list-style: none;
}

#redes-sociais a {
  display: inline-block;
  margin: 1px 35px;
}

#menu li {
  list-style: none;
}

#menu li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.lado-esquerdo , .lado-direito {
  display: inline-block;
  max-width: 32%;
  vertical-align: top;
}

.paragrafo {
  font-size: 15px;
  color: black;
  line-height: 22px;
  margin: 0 55px;
}

#secao_licoes {
  width: 100%;
  text-align: center;
}

#tabela {
  border: 1px solid black;
  width: 100%;
}

#endereco , #redes-sociais {
  display: inline-block;
  width: 49%;
  text-align: center;
  vertical-align: top;
}

#lista-endereco li {
  list-style: none;
  text-align: justify;
}

#lista-endereco li a {
  text-decoration: none;
  line-height: 25px;
  font-size: 15px;
}
