
main{
    margin-top: 100px;
    width: 100%;
}

body{
    background-color: rgb(253, 251, 251);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

#cabecalho{
    background-color: green;
    position: fixed;
    top: 0;
    width: 100%;
    height:  50px;
    z-index: 5;
}

#titulo{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: white;
}
#minha_foto{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 16px;
}

#navbar{
    margin-left: 5px;
}   

#section_licoes{
    width: 100%;
}
#textLicoes{
    text-align: center;
    width: 75%;
}
#licoes_aprendidas{
    display: inline-block;
    width: 40%;
}
#licoes_a_aprender{
    display: inline-block;
    width: 40%;
}
#articlestyle{
    display: inline-block;
    width: 40%;
}
#asidestyle{
    display: inline-block;
    width: 40%;
}
#tableId{
    border: 1px solid;
}