body {
  background-color: rgb(253, 251, 251);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#cabecalho {
  background-image: url(header.png);
  position: fixed;
  top: 0;

  height: 150px;
  width: 100%;
}

#titulo {
  font-family: "Megrim", sans-serif;
}

.box_img {
  float: right;
  width: 230px;
}

#minha_foto {
  margin-top: 150px;
}
.lado-esquerdo {
  float: left;
  margin-top: 150px;
  margin-right: 60px;
  width: 500px;
}

.lado-direito {
  float: right;
  margin-top: 150px;
  vertical-align: top;
  width: 370px;
}

#licoes_aprendidas {
  clear: both;
}
