body { 
    background-color:rgb(253, 251, 251);
}

header {    
    top: 0%;
    background-color: #04830b;
}

#cabecalho {
    color: white;
}

.menu { 
    color: white;}


#minha_foto { 
    width: 100px;
}