body {
    background-color: rgb(253, 251, 251);
    font-size: 20px;
    color: rgb(128, 128, 128);
    line-height: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cabecalho {
    position: fixed;
    top: 0;
    width: 96vw;
    margin: 4px;
    padding: 5px;
    text-align: center;
    border: 4px dotted black;
}

#menu {
    width: 100 vw;
    text-align: center;
    margin-top: 120px;
    padding: 0;
}
