body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0%;
  background-color: royalblue;
  width: 100%;
  text-align: center;
}
#titulo {
  margin-top: 10px;
  padding: 10px;
}

#minha_foto {
  width: 300px;
  display: block;
}

#listas {
  width: 100%;
}
ol {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
  display: inline-block;
  width: 40%;

}
ul {
  display: inline-block;
  width: 40%;
}
nav {
    display: inline-block;
    height: 200px;
    text-align: center;
}
.lado-esquerdo{
    display: inline-block;
    width: 40%;
    
}
.lado-direito {
    display: inline-block;
    width: 40%;
}