body {
  background-color: rgb(253, 251, 251);
  margin: 0%;
}

#cabecalho {
  top: 0%;
  position: fixed;
  background-color: rgb(47, 193, 140);
  width: 100%;
}

#titulo {
  text-align: center;
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 20px;
  letter-spacing: 10px;
}

#lucas {
  color: rgb(16, 117, 80);
}

.minhafoto {
  width: 250px;
  border-radius: 25%;
  float: left;
  margin: 20px;
  border: solid rgb(47, 193, 140);
}

.header {
  margin-top: 100px;
  height: 400px;
  text-align: center;
  display: inline-block;
}

.lista_aprendida {
  text-align: center;
  float: left;
  margin: 50px 20px;
  background-color: rgb(47, 193, 140);
  border-radius: 2%;
  padding: 15px;
  color: white;
  font-family: Raleway, sans-serif;
}
.lista_aprendida h2 {
    margin-top: 0%;
}

.article {
  border-radius: 2%;
  background-color: rgb(47, 193, 140);
  padding: 15px;
  max-width: 30%;
  color: white;
  font-family: Raleway, sans-serif;
  float: right;
  margin: 50px 20px;
}

.segundaparte {
  background-color: rgb(238, 238, 238);
  margin-top: 100px;
  height: 400px;
  text-align: center;
  display: inline-block;
    
}
.aside {
  border-radius: 2%;
  background-color: rgb(47, 193, 140);
  padding: 15px;
  max-width: 30%;
  color: white;
  font-family: Raleway, sans-serif;
  float: right;
  margin: 50px 20px;
  text-align: center;
}
.lista_a_aprender {
  list-style-position: inside;
  float: left;
  margin: 50px 20px;
  background-color: rgb(47, 193, 140);
  border-radius: 2%;
  padding: 15px;
  color: white;
  font-family: Raleway, sans-serif;
}
.terceiraparte {
  margin: 100px;
}
.tabela {
  border-radius: 4%;
  background-color: rgb(47, 193, 140);
  border:rgb(238, 238, 238) solid thin;
  text-align: center;
  margin:auto;
  height: auto;
  padding: 30px 20px;
  color: white;
}
.rodape {
  margin: 10px 10px;
  height: auto;
  background-color: rgb(238, 238, 238);
  text-align: center;
}
.rodape p {
  border-radius: 2%;
  padding: 15px;
  color: rgb(47, 193, 140);
  font-family: Raleway, sans-serif;}