body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  padding-top: 180px;
}

#cabecalho {
  position: fixed;
  height: 180px;
  width: 100%;
  top: 0%;
  color: white;
  text-align: center;
  background-color: mediumseagreen;
}

#cabecalho a {
  color: white;
}

h2 {
  font-style: italic;
}

#nav {
  border: 8px;
  border-top: double;
  border-bottom: double white;
  background-color: mediumseagreen;
}

#nav li {
  display: inline-block;
  width: 200px;
  font-size: 18px;
}

#nav a:hover {
  color: darkgreen;
  font-weight: 600;
}

#logo {
  margin-top: 50px;
  border-style: double;
  border-color: mediumseagreen;
  border-radius: 15px;
}

#link-trybe {
  color: green;
}

#link-trybe:hover {
  background-color: green;
  color: white;
  border-radius: 5px;
}

#main {
  border-style: double;
  border-color: mediumseagreen;
  border-radius: 15px;
  background-color: rgb(0, 128, 128, 0.4);
  margin-top: 30px;
  margin-left: 15px;
  width: 67%;
  display: inline-block;

}

article section {
  margin: 20px;
}

article {
  margin: 10px;
  text-align: justify;
}

article h2 {
  text-align: center;
  font-size: 30px;
}

#aside {
  text-align: center;
  border-style: double;
  border-color: mediumseagreen;
  border-radius: 15px;
  background-color: rgb(255, 69, 0, 0.4);
  margin-top: 50px;
  margin-right: 15px;
  float: right;
  width: 29%;
  height: 250px;
  color: white;
}

#aside p {
  background-color: rgb(255, 69, 0, 0.8);
  height: 80px;
}

.listas p {
  text-align: center;
  font-weight: 600;
}

#aside h3 {
  font-style: italic;
}

.listas {
  margin-right: 30px;
  display: inline-block;
  width: 45%;
}

#final {
  width: 67%;
  display: inline-block;
}

#final h2 {
  text-align: center;
}

#foto {
  margin-top: 30px;
  width: 29%;
  float: right;
}

#minha_foto {
  border-radius: 15px;
}

#tabela {
  width: 100%;
  text-align: center;
  border: solid;
  margin-left: 15px;
}
