body {
    background-color: rgb(253, 251, 251);    
}

#cabecalho {
    position:fixed;
    top: 0px;
    z-index: 1;
}
#minha_foto {
    position: absolute;
    top: 75px;
}
#licoes_aprendidas{
    position: absolute;
    top: 365px;
}
