body {
  background-color: rgb(253, 251, 251);
}

header {
  background-color: #313b2f;
  width: 100%;
}

#titulo {
  color: #fff;
  margin-left: 20px;
  font-family: "Lato", sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
}

.aprendizado {
  margin-top: 20px;
  display: inline-block;
}

.subtitulo-aprender {
  text-decoration: underline;
  font-family: "Lato", sans-serif;
}

#minha_foto {
  border-radius: 10px;
  display: block;
  margin-top: 100px;
  width: 300px;
}

ol.lado-esquerdo {
  margin-right: 120px;
  padding: 20px;
}

ol.lado-esquerdo li {
  margin-left: 20px;
}
ul.lado-direito {
  padding: 20px;
}

ul.lado-direito li {
  margin-left: 20px;
}

.lado-esquerdo,
.lado-direito {
  border: 4px solid #313b2f;
  display: inline-block;
}
button {
  text-decoration: none;
}
.btn {
  background-color: #313b2f;
  text-decoration: none;
  display: block;
}
.btn a {
  color: #fff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn a:hover {
  color: #ffd639;
}

#rodape {
  background-color: #6a736f;
}

#rodape p {
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.165em;
