body {
    background-color: rgb(253, 251, 251);
    font-family: 'Montserrat', sans-serif;
}
#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(3, 107, 82);
    color: rgb(255, 255, 255);
    text-align: center;
}
ul {
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
nav ul li:hover{
    font-weight: bold;
}
#perfil {
    min-height: 240px;
    background-color: rgb(65, 25, 127);
    box-shadow: 3px 3px 15px 1px rgb(129, 129, 129);
    border-radius: 10px;
    margin-top: 135px;
    margin-left: 2%;
    margin-right: 2%;
}
#minha_foto {
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-top: 20px;
    margin-left: 10%;
}
#descricao {
    float: right;
    color: rgb(253, 251, 251);
    text-align: center;
    margin-right: 10%;
}
h3{
    font-size: 20px;
    font-weight: 500;
}
#turma {
    font-size: 12px;
    font-weight: bold;
}
