body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: green;
  color: rgb(255, 255, 255)
}

#titulo {
  text-align: center;
}

nav ul li {
  list-style-type: none;
}

#minha_foto {
  width: 300px;
  margin-top: 120px;
  margin-left: -45px;
}

#leg-foto {
  margin-left: -45px;
}

#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  width: 80%;
  float: right;
}