
body {
    background-color: rgb(253, 251, 251);
    margin: 0;
}

#cabecalho {
    position: fixed;
    top: 0;
}

#titulo {

}

#minha_foto {

}

#licoes_aprendidas {

}

#licoes_a_aprender {

}

#rodape {
    
}