body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {   
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: DarkMagenta;
    display: block;
}
#titulo {
    color: white;
    font-size: 35px;
    text-align: center;
}  
#minha_foto {
    width: 30%;
    display: block;
    padding: 5px;
    margin: 30px;
    border: thick double #32a1ce
}
#licoes_aprendidas {
    display: inline-block;
    margin-left: 20px;
}
#licoes_a_aprender {
    display: inline-block;
    margin-left: 20PX; 
}
a {
    color: rgb(54, 224, 20);
    font-size: 20px;
    margin-left: 10px;
}
#artigo {
    margin-bottom: 15px;
    margin-left: 10px;
    width: 65%;
    display: inline-block;
}
p {
    font-size: 20px;
    margin-left: 10px;
}
aside {
    margin-left: 10px;
    margin-bottom: 15px;
    width: 30%;
    background-color: lightgrey;
    display: inline-block;
}
h2 {
    text-align: center;
}
#rodape {
    background-color: rgb(80, 77, 77);
    color: white;
    margin-left: 10px;   
}
nav {
    display: block;
}