*{
    margin-top: 0;
    margin-left: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header{
    background-color: khaki;
    top: 0;
    padding-bottom: 20px;
    position: fixed;
    right: 0;
    left: 0;

}
h1{
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    padding-top: 20px;
    top: 0;
}
body{
    background-color: rgb(253, 251, 251)
}
.background{

    background-color: rgb(253, 251, 251)
}

img {
    width: 60%;
    padding-left: 30px;
    padding-top: 30px;
}

ul{
    margin-top: 30px;
    line-height: 30px;
    margin-left: 12px;
}

footer{
    background-color: lightgoldenrodyellow;
    margin-bottom: 0px;

} 

footer ul{
    margin-bottom: 0px;
    padding-bottom: 80px;
    padding-top: 50px;
    margin-top: 80px;
}
footer ul li {
    display: inline;
    margin-bottom: 0px;
    color: black;
 
}
footer ul li a{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    color: black;
}


article{

}
article h3{

    margin-top: 70px;
    margin-left: 15px;
}

article p{
    padding-left: 35px;
    width: 70%;
}
aside{
    float: right;
    background-color: cornsilk;
    width: 15%;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 300px;
    margin-top: 85px ;
}
aside p{
    float: right;

}
aside h3{
    float: right;
    margin-top: 20px;
}

h2{
    font-size: 10px;
}

