body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  padding-top: 180px;
  font-family: 'Nunito', sans-serif;
}

#cabecalho {
  position: fixed;
  height: 180px;
  width: 100%;
  top: 0%;
  color: white;
  text-align: center;
  background-color: mediumseagreen;
}

#cabecalho a {
  color: white;
}

h2 {
  font-style: italic;
}

#nav {
  border: 8px;
  border-top: double;
  border-bottom: double white;
  background-color: mediumseagreen;
}

#nav li {
  display: inline-block;
  width: 200px;
  font-size: 18px;
}

#nav a:hover {
  color: darkgreen;
  font-weight: 600;
}

#foto {
  background-image: url(./images/grama.jpg);
  height: 270px;
}

#minha_foto {
  border-style: double;
  border-color: white;
  margin-left: 15px;
  margin-top: 35px;
}

legend {
  margin-left: 35px;
  color: white;
  font-weight: 800;
}

#logo {
  margin-top: 100px;
  height: 120px;
  border-style: double;
  border-color: mediumseagreen;
}

#link-trybe {
  color: green;
}

#link-trybe:hover {
  background-color: green;
  color: white;
}

#main {
  border-style: double;
  border-color: mediumseagreen;
  background-color: rgb(0, 128, 128, 0.4);
  margin-top: 25px;
  margin-left: 15px;
  width: 67%;
  display: inline-block;
}

article section {
  margin: 20px;
}

article {
  margin: 10px;
  text-align: justify;
}

article h2 {
  text-align: center;
  font-size: 30px;
}

#aside {
  text-align: center;
  border-style: double;
  border-color: mediumseagreen;
  background-color: rgb(255, 69, 0, 0.4);
  margin-top: 25px;
  margin-right: 15px;
  float: right;
  width: 29%;
  height: 315px;
  color: white;
}

#aside p {
  background-color: rgba(122, 60, 38, 0.2);
  height: 70px;
  color: darkgreen;
}

#aside h3 {
  font-style: italic;
}

.listas {
  margin-right: 30px;
  display: inline-block;
  width: 45%;
  color: white;
}

#final {
  margin: 0 15px 0 15px;
  width: 98%;
  height: 165px;
  background-color: mediumseagreen;
  font-size: 18px;
}

#final h2 {
  text-align: center;
  color: white;
  border-bottom-style: double;
}

#tabela {
  width: 100%;
  text-align: center;
}
