 body {
  background-color: rgb(253, 251, 251);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 header {
  background-color: green;
  width: 100%;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 .ola {
   font-size: 150px;
   color:green;
   margin-left: 18%;
 }

 .artigo1{
  background-color:;
 }

 .indice {
  display: inline;
  list-style-type: none;
  list-style: none;
  word-spacing: 30px;
  text-align: center;
}
 li.indicelista {
  display: inline-block;
  background-color: yellow;
  border: yellowgreen;
  border-style: outset;
  font-size: 25px;
 }

 p {
  max-width: 80%;
  margin-top: 50px;
}

 main {
  margin-top: 10%;
}

 #cabecalho {
  position: fixed;
  top: 0;
} 

 #minha_foto {
  width: 200px;
  border-radius: 30%;
  margin-top: 5%;
  margin-left: 10%;
  float: left;
  border: greenyellow;
  border-style: outset;
}

 footer{
  background-color: green;
  width: 100%;
  text-align: center;
 }
