body {
    background-color: rgb(253, 251, 251);
    font-family: "Montserrat", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;

    color: rgb(255, 255, 255);
    background-color: rgb(10, 126, 81);
    width: 100%;
}

header h1 {
    text-align: center;
}

header a {
    margin-left: 2%;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

img {
    width: 200px;

}


