body {
  background-color: rgb(253, 251, 251);
}

header {
  background-color: #313b2f;
  width: 100%;
}
.navegacao {
  background-color: #cbcfd1;
}

.navegacao ul {
  margin: 0;
  padding: 15px 20px;
}

.navegacao ul li {
  text-align: center;
  margin-right: 40px;
  display: inline-block;
}

.navegacao ul li a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: #313b2f;
  text-transform: uppercase;
}
.navegacao ul li a:hover {
  text-decoration: underline;
}
#titulo {
  color: #fff;
  margin-left: 20px;
  font-family: "Lato", sans-serif;
}

#cabecalho {
  text-align: center;
  position: fixed;
  top: 0;
}

.aprendizado {
  margin-top: 20px;
  display: inline-block;
}

.subtitulo-aprender {
  text-decoration: underline;
  font-family: "Lato", sans-serif;
}

#minha_foto {
  margin: auto;
  border-radius: 10px;
  display: block;
  margin-top: 150px;
  width: 300px;
}

ol.lado-esquerdo {
  margin-right: 120px;
  padding: 20px;
}

ol.lado-esquerdo li {
  margin-left: 20px;
}
ul.lado-direito {
  padding: 20px;
}

ul.lado-direito li {
  margin-left: 20px;
}

.lado-esquerdo,
.lado-direito {
  border: 4px solid #313b2f;
  display: inline-block;
}
button {
  text-decoration: none;
}
.btn {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 140px;
  background-color: #313b2f;
  text-decoration: none;
  display: block;
}
.btn a {
  color: #fff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn a:hover {
  color: #ffd639;
}

.aprendida-esquerda {
  float: left;
}

.aprendida-direita {
  float: right;
}

.aprendizado-text {
  width: 50%;
  display: inline-block;
}
.aprendizado-text p {
  margin-left: 10px;
  margin-right: 40px;
  font-size: 1em;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
.lado-direito-aside {
  display: inline-block;
  float: right;
}
#rodape {
  background-color: #6a736f;
}

#rodape p {
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.165em;
}
