body {
  background-color: rgb(253, 251, 251);
  font-family: monospace;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(9, 119, 27);
  color: white;
  width: 100%;
}

#titulo {
  text-align: center;
}

main {
  margin-top: 135px;
}

#secao_foto {
  display: inline-block;
  margin-left: 20px;
}

#secao_foto a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.licao {
  display: inline-block;
  margin: 30px 50px 1px;
  text-align: justify;
}

.licao ol li , .licao ul li {
  list-style: none;
}

#menu li {
  list-style: none;
}

#menu li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

#minha_foto {
  width: 200px;
}

.lado-esquerdo , .lado-direito {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.paragrafo {
  font-size: 15px;
  color: black;
  line-height: 22px;
  margin: 0 55px;
}

#secao_licoes {
  width: 100%;
  text-align: center;
}

#projetos {
  margin: 81px;
  padding: 20px;
}

#projetos , th , tr {
  border: 2px solid black;
}
