body {
  background-color: rgb(253, 251, 251);
}
 #cabecalho {
  top: 0px;
  position: fixed;

}

 #titulo {
  font-family: -apple-system, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: aqua;
}
 #minha_foto {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin-top: 80px;
}
 #licoes_aprendidas , #licoes_a_aprender , p {
  font-family: -apple-system, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 #licoes_aprendidas {
  display: inline-block;
  width: fit-content;
  float: left;
  margin-right: 35px;
}
 #licoes_a_aprender {
  float: left;
  display: block;
  margin-right: 35px;
}
 article {
  display: inline;
  margin-left: 100px;
}
 h3 {
  font-weight: bold;
  font-family: -apple-system, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-left: 15px;
}