body {
  color: #F9F3DE;
  background-color: rgb(253, 251, 251);
  margin: 0 0 0 0;
  font-size: 1.4em;
  line-height: 1.6;
  font-weight: 400;
}
.bg {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.bg-header {
  top: 0;
  height: 100px;
  background-color: #2ECFCA;
}
.bg-hero {
  top: 100px;
  height: 430px;
  background-color: #FF4E62;
}
.bg-lessons-learned {
  top: 530px;
  height: 600px;
  background-color: #2ECFCA;
}
.bg-lessons-to-be {
  top: 1130px;
  height: 515px;
  background-color: #FF4E62;
}
.bg-footer {
  top: 1645px;
  height: 80px;
  background-color: #2ECFCA;
}
.button {
  background-color: #2ECFCA;
  /* display: inline-block; */
  height: 38px;
  margin-bottom: 1rem;
  padding: 0 20px;
  color: #555;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px; /*100px for rounded and 50% for circle*/
  border: 5px solid #FF4E62;
  cursor: pointer;
  font-family: monospace;
  /* box-sizing: border-box; */
}
.fixed {
  position: fixed;
  width: 100%;
  text-align: right;
  padding: 10px 10px 10px 10px;
  color: #F8DF77;
}

.padding-text {
  padding: 10px 50px 10px 30px;
}

article {
  width: 900px;
  margin: 130px 0 0 0;
}
section > h2 {
  margin: 80px 0 0 0;
  color: #F8DF77;
}

main ol li,main ul li {
  margin: 0 0 0 20px;
}

nav li {
  list-style: none;
  height: 40px;
}
nav a {
  text-decoration: none;
}
nav a:link {
  color: #F8DF77;
  font-weight: 600;
}
nav a:visited {
  color: #F9F3DE;
}
nav a:hover {
  color: #2ECFCA;
  background-color: #FF4E62;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  font-weight: 600;
  letter-spacing: .1rem;
}
nav.fixed {
  bottom: 10px;
  right: 10px;
}
h1.fixed {
  top: 10px;
  right: 10px;
}
main a.button {
  position: fixed;
  bottom: 265px;
  right: 114px;
  color: #555;
  text-decoration: none;
  font-weight: 700;
}
main a.button:hover {
  background-color: #FF4E62;
}
footer {
  color: #F8DF77;
  position: relative;
  bottom: -30px;
  left: 0px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
#cabecalho {
  position: fixed;
  top: 0;
}
#minha_foto {
  width: 250px;
  position: fixed;
  bottom: 350px;
  right: 103px;
  border: 10px solid #2ECFCA;
  border-radius: 110px;
}
#lessons-to-be {
  margin: 50px 0 0 0;
}
