* {
    margin: 0;
}

body {
    background-color: rgb(253, 251, 251);
}

header {
    position: fixed;
    background-color: teal;
    width: 100%;
    height: 7em;
    color: white;
    font-family: "Courier New", Courier, monospace;
}

#titulo {
    text-align: center;
    font-size: 40px;
    padding: 15px;
}

.navigation {
    list-style: none;
    display: inline;
    padding: 6%;
    font-size: 16px;
}

.navigation a {
    text-decoration: none;
    color: white;
}

#perfil {
    padding-top: 7em;
}

#bio {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 10em;
}

#minha_foto {
    border-radius: 50%;
    width: 20em;
    float: right;
    padding: 2em;
}

table {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

table th {
    padding: 10px;
}

.passagem-meu-aprendizado {
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
    display: inline-block;
    width: 40%;
    padding: 4em;
}
