body {
    background-color:rgb(253, 251, 251);
    font-size: 20px;
    color: rgb(33, 39, 56);
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    text-align: center;
    background-color: rgb(42, 52, 162);
    color: white;
    border: 4px solid black;
    padding: 5px;
}

img#minha_foto {
    width:300px;
    margin-top:150px;
    margin-left:200px;
    border-radius: 50%;
    border: 2px solid black;
}

article.lado-esquerdo {
    width: 50%;
    margin-left: 5%;
}

aside.lado-direito {
    float: right;
    width: 30%;
    margin-right: 5%;
}