body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  padding: 7px;
  font-size: 20px;
  line-height: 2px;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: darkgreen;
  z-index: 1;
}

#menu {
  font-size: 20px;
  position: relative;
  margin-left: 45%;
}

#minha_foto {
  position: relative;
  border-radius: 50%;
  padding: 10px;
  background-color: darkgreen;
  top: 180px;
  left: 400px;
}

.img {
  height: 500px;
}

.listas {
  position: relative;
  display: flex;
  margin-left: 35%;
}

.lado {
  display: flex;
  flex: row;
  padding: 0px 150px 0px 150px;
}

.lado-esquerdo {
  width: 100%;
  padding: 0px 50px 0px 50px;
  border: 3px solid black;
}

.lado-direito {
  width: 30%;
  padding: 0px 50px 0px 50px;
  border: 3px solid black;
}

.tg {
  margin-left: 40%;
}

