body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    position: fixed;
    top: 0;
    width: 100%;
    border: 3px solid green;
    background-color: sandybrown;
}

#links{
    list-style: none;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    color: red;
}

#conteudo_principal{   
    padding-top: 200px; /*Usado,pq o cabeçalho está com position:fixed e não ocupa lacuna*/
    border: 3px solid blue;
    margin: 60px;
}

#artigo{
    border: 2px solid black;
}

#lado{
    border: 2px solid gold;
}

#minha_foto{
    width: 200px;
    height: 200px;
}

#rodape{
    border: 3px solid red;
}

table, td, th, tfoot{
    border: 2px solid black;
    border-collapse: collapse;
}
