 body {
  background-color: rgb(253, 251, 251);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

 header {
  position: fixed;
  background-color: green;
  width: 100%;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  top: 0;
}
 .ola {
   font-size: 150px;
   color:green;
   margin-left: 60px;
 }
 .ola:hover {
   background-color: yellowgreen;
   color: white;
   border-radius: 100%;
   transition: 3s;
   width: 100%;
 }

 .artigo1 p {
  margin-left: 350px;
  width: 60%;
 }
 .lado-esquerdo{
  background-color: yellowgreen;
 }

 .aside1 p {
  margin-left: 350px;
  width: 60%;
 }

 .indice {
  display: inline;
  list-style-type: none;
  list-style: none;
  word-spacing: 30px;
  text-align: center;
}
 li.indicelista {
  display: inline-block;
  background-color: yellow;
  border: yellowgreen;
  border-style: outset;
  font-size: 25px;
 }

 p {
  max-width: 80%;
  margin-top: 50px;
  padding: 8px;
}
 p.lado-direito{
  background-color: yellowgreen;
  margin-top: -10px;
}
 p.lado-esquerdo p.lado-direito {
   display: inline-block;
   width: 30%;
 }
 main article p.lado-esquerdo {
  display: inline-block;
  width: 30%;
  position: absolute;
 }
 main aside p.lado-direito{
   display: inline-block;
   width: 30%;
   margin-left: 59%;
   margin-top: 4%;
 }

 main {
  margin-top: 10%;
}

 #cabecalho {
  position: absolute;
  top: 0;
} 

 #minha_foto {
  position: absolute;
  width: 200px;
  border-radius: 30%;
  margin-top: 5%;
  margin-left: 10%;
  border: greenyellow;
  border-style: outset;
  border-width: 5px;
}
 ol.ol, ul.ul {
   margin-top: 50px;
   display: inline-block;
   margin-left: 26.4%;
   background-color: yellowgreen;
   border: green;
   border-style: outset;
 }
 ul.ul{
   margin-left: -1px;
 }
 footer{
  background-color: green;
  width: 100%;
 }
 footer.rodape {
  text-align: center;
 }
