body {
    background-color: rgb(253, 251, 251);
    margin: 0%;
}

#cabecalho {
    margin-top: 0%;
    margin-bottom: 10%;
    position: fixed;
    background-color: rgb(167, 164, 164);
    width: 100%;
}

#cabecalho h1 {
    text-align: center;
    height: 100%;
    margin-top: 0%;
    padding-top: 1%;
}

#nav {
    margin-top: 4%;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: rgb(167, 164, 164);
}

#nav ul {
    padding: 0%;
}

#nav li {
    text-decoration: none;
    display: inline-block;
    padding-left: 5%;
    text-align: center;
    margin-right: 5%;
}

#nav a {
    text-decoration: none;
    color: #6795b4;
    font-weight: bold;
    font-size: 110%;
}

#nav a:hover {
    color: white;
}

#imagem {
    text-align: center;
    color: rgb(74, 77, 80);
}

img {
    margin-top: 10%;
    border-radius: 50%;
}

#container {
    width: 100%;
    background-color: lightgrey;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
}

#container a {
    text-decoration: none;
    font-weight: bold;
    color: #036b52;
}

.lado-esquerdo {
    width: 40%;
    display: inline-block;
    text-align: justify;
    text-indent: 40px;
}

.lado-direito {
    width: 30%;
    display: inline-block;
    padding-left: 5%;
}

#licoes {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
}

#licoes h3{
    margin-bottom: 10%;
    font-size: 180%;
}

#licoes li:hover {
    color: #6795b4;
}

#licoes h3:hover {
    background-color: lightgrey;
    border-radius: 30%;
}

#licoes_aprendidas {
    width: 30%;
    display: inline-block;
    line-height: 25px;
}

#licoes_a_aprender {
    width: 30%;
    display: inline-block;
    line-height: 25px;
}

#rodape {
    background-color: black;
    color: white;
    margin-top: 5%;
}

#rodape p {
    margin: 0%;
    text-align: center;
    padding: 2%;
}
#tabela_contato {
    width: 100%;
    margin-left: 44%;
    margin-top: 5%;
}
