header {
  position: fixed;
  width: 100%;
  background-color: lightgreen;
  color: black;
  font-family: Times New Roman, Times, serif;
  font-size: large;
  top: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

#bio {
  padding: 70px 30px;
  text-align: center;
  line-height: normal;
  max-width: 80%;
  margin: auto;
}

#minha_foto {
  margin-top: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}

table {
  margin: auto;
  padding: 70px 30px;
}

.lado-direito {
  float: right;
  height: 30%;
  width: 30%;
  padding: 70px 30px;
}

.lado-esquerdo {
  float: left;
  width: 30%;
}

aside {
  clear: both;
}

footer {
  clear: both;
  background-color: lightgreen;
  margin-bottom: auto;
}
