body{
 
    background-color: rgb(253, 251, 251);
    
}

#cabecalho{
    
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: green;
    text-align: center;
    font-family: sans-serif;
}
#titulo{
    
    color: white;
    height: 100px;
    margin: 0px;
    
}

.links{
    
    background-color: green;
    position: fixed;
    padding-top: 35px;
    font-family: sans-serif;
}

.links ul{
    
    background-color: green;
    margin: 0px;
    height: 50px;
    font-family: sans-serif;
}

.links li{
    
    background-color: green;
    color: white;
    list-style: none;
    font-size: 20px;
}


#minha_foto{
    
    padding-top: 100px;
    padding-left: 10px;
}

a{
   display: block;
   padding-left: 10px;
   font-family: sans-serif;
}

#licoes{
    padding: 20px;
    font-family: sans-serif;
}

#licoes-2{
    position: absolute;
    right: 800px;
    top: 333px;
    font-family: sans-serif;
}

#licoes_aprendidas{
    font-family: sans-serif;
}

#licoes_a_aprender{
    position: absolute;
    left: 316px;
    bottom: 35px;
    font-family: sans-serif;
}

.lado-esquerdo{
    width: 40%;
    display: inline-block;
    font-family: sans-serif;
    line-height: 25px;
}

.lado-direito{
    float: right;
    width: 40%;
    font-family: sans-serif;
    line-height: 25px;
    top: 100px;

}

#rodape{
    padding-top: 20px;
    font-family: sans-serif;
}

#links{
    display: inline;
}

#full-stack{
    text-align: center;
}
