body {
        background-color: rgb(253, 251, 251);   
}

#cabecalho {
        position:fixed;
        top: 0px;
        z-index: 1;
}

#minha_foto {
        position: absolute;
        top: 75px;
}

#licoes_aprendidas{
        position: absolute;
        top: 365px;
}

#licoes_a_aprender {
        position: absolute;
        top: 365px;
        left: 200px;
}

#rodape {
        position: absolute;
        top: 600px;
}
