body {
  background-color: rgb(253, 251, 251);
  color: rgb(22, 20, 20);
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 20px;
  margin: 0%;
}

#cabecalho {
  position: fixed;
  width: 100%;
  margin-bottom: 15%;
  text-align: center;
  background-color: rgba(112, 128, 144, 0.603);
}

nav ul li , a {
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  color: rgb(100, 102, 102);
  text-decoration: none;
  font-weight:100;
  color: white;
}

nav ul li a:hover {
  color: rgb(6, 180, 180);
  font-family: monospace;
  font-weight: 100;
}


#titulo {
  font-weight: 100;
  font-family: monospace;
  color: teal;
}

#titulo-learned {
  color: slateblue;
}

article {
  margin: auto;
}

h3 {
  color: rgb(97, 97, 97);
  font-weight: 100;
  font-family: monospace;
  text-align: center;
}

#minha_foto {
  display: inline-block;
  border-radius: 50%;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#nome {
  display: inline-block;
  margin-right: auto;
  font-family: fantasy;
  font-style: initial;
  color: cornflowerblue;
  margin-left: 5%;
}

.sobre {
  margin-bottom: 5%;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

#licoes_aprendidas {
  border: 2px solid slateblue;
  background-color: rgba(70, 131, 180, 0.788);
  border-radius: 3%;
}

#licoes_a_aprender {
  border: 2px solid rgba(70, 131, 180, 0.788);
  background-color: rgba(105, 90, 205, 0.747);
  border-radius: 3%;
}

#JS {
  color: rgb(155, 155, 4);
}

ol li {
  font-weight: 100;
  color: white;
}

.lado-esquerdo {
  display: inline-block;
  margin-left: 5%;
  margin-right: auto;
}

.lado-direito {
  display: inline-block;
  margin-left: 22%;
  margin-right: auto;
}

aside {
  margin-top: 7%;
  border: 2px solid skyblue;
  background-color: rgba(13, 139, 128, 0.096);
  text-align: center;
  margin-bottom: 5%;
}

#rodape {
  text-align: center;
}

footer {
  margin-bottom: 5%;
}
