body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color:grey;
    text-align: center;
}

#rodape {
    width: 100%;
}

#even-odd-table {
}