body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(7, 134, 7);
}

header h1 {
  padding-left: 50px;
}

nav h2 {
  display: inline-block;
  font-size: small;
}

nav {
  width: 100%;
  position: fixed;
  margin-top: -40px;
  background-color: rgb(7, 134, 7);
  display: inherit;
  font-size: small;
}

nav a {
  text-decoration: none;
  padding: 45px;
  color: rgb(253, 251, 251);
}

main {
  margin: 10px;
  margin-top: 118px;
}

#minha_foto {
  padding-left: 114px;
}

#nome {
  padding-left: 85px;
  color: rgb(7, 134, 7);
}

.licoes {
  clear: both;
  font-family: monospace;
}

.licoes_aprendidas , .licoes_a_aprender {
  display: inline-block;
}

.coluna1 {
  padding-left: 20px;
}

.coluna2 {
  padding-left: 70px;
}

#lado-esquerdo {
  width: 50%;
  margin-left: 10px;
  margin-right: 0;
  display: inline-block;
}

article p {
  line-height: 1.5;
  width: 100%;
  text-indent: 30px;
}

#lado-direito {
  float: right;
  margin-right: 10%;
  width: 35%;
  border-radius: 13%;
  background-color: rgb(184, 177, 177);
  text-indent: 15px;
  text-align: center;
}

footer {
  margin-left: 8px;
  padding-top: 30px;
}

footer em {
  font-size: small;
  font-family: monospace;
  font-variant: all-petite-caps;
}
