body {
    background-color: rgb(253, 251, 251);
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: green;
    width: 100%;
}

.header h1 {
    text-align: center;   
}

.profile {
    width: 250px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 50px;
    background-color: rgb(95, 88, 88);
    padding: 3px;    
}

.list {
    line-height: 30px;
}