body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    display: inline-block;
    background-color: rgb(255, 0, 0);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#minha_foto{
    margin-top: 80px;
    border-radius: 30%;
    border: 4px solid rgb(255, 0, 0);
}

#licoes_aprendidas{
    display: inline-block;
    background-color:aqua;
}

.Listas{
    background-color: rgb(250, 165, 165);
    display: inline-block;
    border: 4px solid red;
    padding-right: 200px;
}

#licoes_a_aprender{
    display: inline-block;
    background-color:aqua;
    float: right 80px;
    
}

