body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  position: fixed;
}

.image-container {
  margin-top: 80px;
}

.image-container img {
  width: 200px;
  height: 200px;
}

.list-container {
  display: flex;
  width: 800px;
}

#licoes_aprendidas {
  width: 20%;
}

#licoes_a_aprender {
  width: 20%;
}

#rodape p {
  text-align: center;
}
