body {
    background-color: rgb(253 251 251);
}

main { 
    margin-top: 100px;
    padding-top: 100px;
}

#cabecalho {
    position: fixed;
    text-align: center;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 20px;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;

}

#titulo {
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

#minha_foto {
    border-radius: 10px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 110px;

}

#licoes_aprendidas {
  font-family: 'Courier New', Courier, monospace;
}

#licoes_a_aprender {
    font-family: 'Courier New', Courier, monospace;    
}

#fonte {
    font-family: 'Courier New', Courier, monospace;
}



#rodape {
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}