*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;

}

header {
    top: 0;
    width: 100%;
    background-color: #6eaa5e;
}   

.minha_foto {
    left: 50px;
}
li {
    text-decoration: none;
}

