body {
  background-color: rgb(253, 251, 251);
  font-family: sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  background-color: green;
}

#titulo {
  font-size: 40px;
}
#minha_foto {
  size: 400px;
}
#minha_foto {
  width: 300px;
  margin-top: 100px;
}

#learned {
  width: 35%;
  display: inline-block;
  line-height: 2;
  vertical-align: top
}

#aside {
  display: inline-block;
  width: 35%;
  line-height: 2;
  vertical-align: top;
}