
body {
    background-color: rgb(253, 251, 251);
}


li, p, table {
    padding: 3px;
    font-family: 'Roboto';
    line-height: 19px;
}

h2, h3, footer {
    text-align: left;
    font-family: 'Balsamiq Sans';
    line-height: 19px;
}

a {
    text-decoration: none;
    font-weight: 900;
    color: blueviolet;
    line-height: 19px;
}

a:hover {
    background-color: rgb(0, 230, 161);
    padding: 4px;
}

#cabecalho {
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    font-family: 'Balsamiq Sans';
    text-align: center;
    color: blueviolet;
    background-color:  rgb(206, 206, 250);
    height: 90px;
    width: 100%;
    border: 2px solid rgb(0, 230, 161);
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#minha_foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border-style: solid;
    border-color: rgb(0, 230, 161);
    border-width: 3px;
    border-radius: 10%;
    width: 220px;
}

.article, .lado-esquerdo {
    z-index: 2;
    display: inline-block;
    width: 65%;
    background-color: rgb(0, 230, 161);
    padding: 1px;
    border: solid rgb(0, 230, 161);
    border-radius: 6px;
}

.aside, .lado-direito {
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 30%;
    padding: 1px;
    border: solid rgb(206, 206, 250);
    border-radius: 6px;
}

#licoes_aprendidas {
    border: solid rgb(0, 230, 161);
    border-width: 3px;
    border-radius: 6px;
    padding-right: 10px;
    padding-bottom: 10px;

}

#licoes_a_aprender {
    border: solid rgb(0, 230, 161);
    border-width: 3px;
    border-radius: 6px;
    padding-right: 10px;
    padding-bottom: 10px;
}


.links_estudos {
    font-size: 13px;
    text-align: left;
    border-radius: 6px;
    border: solid rgb(0, 230, 161);
    border-width: 3px;
    padding-bottom: 10px;
}

table {
    padding-bottom: 10px;
    line-height: 30px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 6px;
}
