body {
    background-color:rgb(253, 251, 251); }


#cabecalho {
    top: 0%;
    position: fixed; }
 
#minha_foto {
    width: 100px;
    padding-top: 70px;
    border-radius:40%; 
    margin-left: 10px; }