body{ 
  background-color: rgb(253, 251, 251);
}
#cabecalho{ 
  top: 0px;
  position: fixed;

}
#minha_foto{
    width: 300px;
    margin-top: 80px;
}
.table-test{
  border: 2px solid coral;
  margin: 0%;
  padding: 5px;
  
}
.lado-direito p{
  
  font-size: 19px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: darkgoldenrod;
  line-height: 25px;
  
  
}
.lado-direito{
  width: 500px;
  border: 2px solid rgb(38, 0, 255);
  display: inline-block;
  position:relative;
  left: 300px;

}
.lado-esquerdo {
  
  width: 500px;
  border: 2px solid red;
  display: inline-block;
}
