/* TAGs */
* {
    margin-left: 0;
}

body {
    background-color: rgb(253, 251, 251);
}

header {
    min-height: 50px;
    width: 100%;
    background-color: green;
/* text */
    text-align: center;
}

a {
    text-decoration: none;

}

img {
    margin-top: 80px;
    width: 300px;
}

article, aside {
    margin-right: 3%;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 40%;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px gray;
}

p {
    padding: 0 10px 0 10px;
    line-height: 25px;
    font-size: 20px;
    font-family: fantasy;
}

/* Classes */

/* IDs */
#cabecalho {
    position: fixed;
    top: 0;
}

#titulo {
    margin-bottom: 15px;
    color: wheat;
    text-shadow: 5px 5px 5px rgb(43, 42, 42);
}