body {
    margin: auto;
    background-color: rgb(253, 251, 251);
    font-family: monospace;
}

p {
    line-height: 15px;
}

#cabecalho {
    width: 100%;
    position: fixed;
    background-color: rgb(155, 209, 28);
    top: 0px;
}

#titulo {
    font-size: 40px;
    color: rgb(253, 251, 251);
    text-align: center;
}

#bloco_foto {
    text-align: center;
    padding-top: 100px;
}

#minha_foto {
    border-radius: 2%;
    padding: auto;
}

#lista_ordenada, #lista_desordenada {
    display: inline-block;
    line-height: 20px;
}

.lado_esquerdo{
    float: left;
}

.lado_direito{
    float: right;
}

#tabela {
    clear: both;
    line-height: 20px;
}

#rodape {
    background-color: rgb(155, 209, 28);
    padding-bottom: 100px;
}
