body {
    background-color: rgb(253, 251, 251);
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: rgb(255, 164, 0);
    font-size: 1.6em;
}

h3 {
    font-size: xx-large;
    color: rgb(255, 164, 0);
}

li,
p {
    color: rgb(253, 251, 251);
    font-family: "Righteous", cursive;
    line-height: 35px;
    font-size: 1.1em;
}

span {
    color: rgb(47, 193, 140)
}


/* Cabeçalho da página */

#cabecalho {
    position: fixed;
    top: 0;
    width: 99.9%;
    height: 100px;
    background-color: rgb(77, 83, 130);
    box-shadow: 1px 1px 0.7em rgb(77, 83, 130);
    z-index: 1;
}

#titulo {
    color: rgb(253, 251, 251);
    text-align: center;
    font-family: "Original Surfer", cursive;
    font-size: 2em;
}


/* Nav bar */

.contatos ul {
    text-align: center;
}

.contatos li {
    display: inline-block;
    margin-right: 1%;
}


/*Ícones clicáveis da Nav Bar*/

.fab,
.far {
    font-size: 42px;
}

.fa-linkedin,
.fa-github,
.fa-envelope {
    color: rgb(255, 164, 0);
}


/* Primeira seção */

.first-layer {
    width: 99.9%;
    margin-top: 10%;
    margin-bottom: 3%;
}

#minha_foto {
    position: absolute;
    right: 50%;
    transform: translatex(50%);
    border-radius: 25%;
    box-shadow: 1px 2px 0.6em rgb(77, 83, 130);
}


/* Listas da primeira seção */

.about-list {
    display: inline-block;
    padding: 3%;
    margin: 5%;
    width: 25%;
    font-size: 1.3em;
    margin-top: 7%;
    border-style: solid;
    border-radius: 14px;
    background-color: rgb(77, 83, 130);
    box-shadow: 1px 2px 0.6em rgb(0, 0, 0);
}

.next-steps {
    float: right;
}


/* Segunda seção */

.about-text {
    border-style: solid;
    padding: 1.4%;
    font-size: larger;
    margin: auto;
    display: inline-block;
    width: 45%;
    background-color: rgb(77, 83, 130);
    border-radius: 14px;
    box-shadow: 1px 2px 0.6em rgb(0, 0, 0);
    position: relative;
}

aside.about-text {
    float: right;
    margin-top: 17%;
}

#lado-direito {
    float: right;
    position: relative;
}


/* Seção da tabela */

.table {
    margin-top: 3%;
    width: 40%;
    margin-left: 15%;
    font-size: larger;
}

table,
th,
td {
    border: 2px rgb(0, 0, 0) solid;
    border-collapse: separate;
    font-size: 1.12em;
    box-shadow: 1px 2px 0.3em rgb(0, 0, 0);
}

th {
    color: rgb(255, 164, 0);
}

tr {
    background-color: rgb(77, 83, 130);
}

.table table {
    margin-left: 15%;
}

.right-check {
    background-color: rgb(47, 193, 140);
}

.wrong-check {
    background-color: rgb(255);
    color: rgb(253, 251, 251);
}