body {
    background-color: rgb(253, 251, 251);
    margin: 0;
}
#cabecalho {
    position: fixed;
    top: 0;
    background-color: rgb(9, 138, 9);
    width: 100%;
    max-height: 400px;
    padding: auto;

}
#titulo {
    text-align: center;
    color: rgb(255, 255, 255);
}
#licoes_aprendidas {
    display: inline-block;
    font: arial 16px;
    margin-left: 200px;
}
#licoes_a_aprender {
    display: inline-block;
    font: arial 16px;
    margin-left: 100px;
}
#minha_foto {
    width: 200px;
    margin-top: 130px;
    margin-left: 20px;
    border-radius: 50px;
}
.lado-esquerdo {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    font: 16px Arial;
    margin-right: 900px;
}
.lado-direito {
    vertical-align: top;
    float: left;
    text-align: center;
    font: 16px Arial;
    margin-left: 850px;
    margin-top: -128px;
}
a {
    font: Arial 16px;
    margin-left: 30px;
    text-decoration: none;
    float: left;
}
.rodape {
    background-color: rgb(9, 138, 9);
    text-align: center;
}