body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}
#cabecalho {
  position: fixed;
  top: 0;
}
.bg {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.bg-header {
  height: 185px;
  background-color: #2ECFCA;
}
.bg-hero {
  top: 185px;
  height: 500px;
  background-color: #FF4E62;
}
.bg-lessons-learned {
  top: 685px;
  height: 600px;
  background-color: #2ECFCA;
}
.bg-lessons-to-be {
  top: 1235px;
  height: 500px;
  background-color: #FF4E62;
}
