body {

    background-color: rgb(253, 251, 251)

}

.cabecalho {

    position:fixed;
    top: 0;
    float: right;
    text-align: center;
 
}

.titulo {

    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    background-color:rgb(12, 33, 78))
    margin-left: 40px


}

.minha_foto {

    border-radius: 30%;
    margin-top: 50px;
    margin-left: 15px;

}
.licoes_aprendidas {

    font-size: medium;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;

}

.licoes_a_aprender {
    font-size: medium;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
}