body {
   margin: 0%;
   padding-top: 10%;
   background-color: rgb(253, 251, 251);
   font-family: Impact, Haettenschweiler, sans-serif;
   line-height: 1.5em;
   font-size: 18px;
}
header {
   background-color: rgba(96, 153, 58, 0.836);
   top: 0%;
   position: fixed;
   width: 100%;
   margin: 0%;
   text-align: center;
}

#minha_foto {
   border-radius: 50%;
}

section {
   padding: 4%;
   text-align: center;
}

article {
   margin-right: 3%;
   margin-left: 28%;
   float: left;
   width: 300px;
   text-align: justify;
}

aside {
   margin-left:28%;
   padding: 7%;
   width: 500px;
   text-align: justify;
}

#text-profile {
   background-color: rgba(35, 87, 1, 0.877);
   width: 100%;
   display: inline-block;
   color:cornsilk;
}