body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

main {
  margin-top: 135px;
}

a {
  color: inherit;
  text-decoration: none;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: green;
  color: white;
  z-index: 2;
}

#cabecalho h1 {
  text-align: center;
}

#nav_bar {
  position: fixed;
  display: inline-block;
  width: 100vw;
  background-color: black;
}

#nav_bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline:0;
  text-align: center;
}

#nav_bar li {
  display: inline-block;
  padding: 1vw;
  padding-inline: 3vw;
}

#nav_bar li:hover {
  color: grey;
  transition: 0.3s;
}

.apresentacao {
  display: block;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  text-align: center;
}

#minha_foto {
  width: 20%;
  border-radius: 15px;
  vertical-align: middle;
  padding: 1vw;
}

table {
  display: inline-block;
  border: solid 1px black;
  border-radius: 5px;
  border-spacing: 2px;
  vertical-align: middle;
  padding: 0.2em;
}

table th {
  text-align: initial;
}

table th:nth-child(2) {
  font-style: italic;
}

table td {
  border: solid 1px black;
  border-radius: 5px;
}

table tbody tr td:nth-child(odd) {
  text-align: initial;
}

#licoes {
  display: block;
  margin: auto;
  background-color: green;
  color: white;
  width: 90%;
}

.licoes_esquerda, .licoes_direita {
  display: inline-block;
  width: 48%;
  text-align: center;
  margin: 7px;
  border: solid 1px white;
}

.licoes_direita {
  float: right;
}

#licoes h3 {
  text-decoration: underline;
  line-height: 20px;
}

#licoes li {
  text-align: initial;
}

.lado-esquerdo {
  display: inline-block;
  width: 48%;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
}

.lado-direito {
  display: inline-block;
  width: 48%;
  text-align: center;
  vertical-align: middle;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
}

#rodape {
  background-color: black;
  color: white;
  padding: 1vw;
  text-align: center;
}

#rodape:hover {
  color: grey;
  transition: 0.3s;
}
