body {
  background: rgb(253, 251, 251);
  margin: 0;
  top: 0;
}

header {
  z-index: 5;
  position: fixed;
  top: 0;
  background-color: rgb(235, 200, 84);
  font-size: 20;
  font-family: 'Lucida Sans Regular', sans-serif;
  /* refazer linha acima */
  width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
  color: rgb(34, 158, 9);
}

main {
  margin-top: 15%;
}

#minha_foto {
  position: relative;
  width: 40%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#rodape {
  background-color: rgb(9, 141, 158);
  bottom: 0;
  left: 0;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

#artigo {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 2;
  width: 40%;
  vertical-align: top;
}

#lateral {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 2;
  width: 40%;
  vertical-align: top;
}
