body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: teal;
  padding-left: 45%;
  padding-right: 40%;
}

#nav {
  margin-top: 100px;
}

#nav li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  background-color: rgba(0, 128, 128, 0.76);
}

#nav a {
  text-decoration: none;
  color: black;
}

#minha_foto {
  width: 250px;
  margin-top: 55px;
  margin-left: 20px;
}

table td {
  border: solid;
  border-width: 1px;
}

.listTitle {
  margin-left: 20px;
}

#licoes_aprendidas {
  font-family: monospace;
  font-size: 14.5px;
  margin-left: 20px;
}

#licoes_a_aprender {
  font-family: monospace;
  font-size: 14.5px;
}

h2 {
  font-size: 1.3em;
}

.lado-esquerdo {
  width: 400px;
  float: left;
}

.lado-direito {
  width: 400px;
  float: right;
  position: absolute;
  left: 700px;
  top: 1170px;
}

.texto {
  line-height: 1.5em;
}

#rodape {
  margin-top: 20px;
  padding: 5px;
  padding-left: 20px;
  background-color: teal;
  clear: both;
}

#rodape a {
  text-decoration: none;
  color: white;
}

#nav a:hover {
  color: rgba(91, 36, 143, 0.479);
  font-weight: 700;
}

#rodape a:hover {
  color: black;
  font-weight: 700;
}
