body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    position: fixed;
    top: 0;
    width: 300px;
    background-color: greenyellow;
    text-align: center;
}
#minha_foto {
    max-width: 300px;
    float: right;    
}
#licoes_aprendidas {
    margin-top: 300px;
}