body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
}

#titulo {
    margin: 0;
}

#minha_foto {
    width: 300px;
}

#licoes_aprendidas {
    background-color: lightgreen;
}

#licoes_a_aprender {
    background-color: lightsalmon;
}