@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}

img {
    border: #ffae00 10px solid;
    box-shadow: 0px 10px 15px #0000002d;
    border-radius: 50%;
    width: 200px;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #fdfbfb;
}

ul{
    list-style: none;
}

a {
    color: #f5f5f5;
    text-decoration: none;
}

header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.13);
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: rgba(19, 19, 19, 0.527);
}

nav ul{
    display: flex;
}

nav ul li {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

nav ul li a{
    height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
    transition: all 0.3 ease;
}

nav ul li a:hover{
    color: #ffae00;
}

h1{
    display: flex;
    color: #ffae00;
    font-size: 25px;
    line-height: 16px;
}

table{
    border: 1px solid #000000;
}

.lado-esquerdo {
    float: left;
}

.lado-direto {
    float: right;
}

