body {
	background-color: rgb(253, 251, 251);
  padding: 0;
}

#cabecalho {
  width: 100%;
  top: 0;
  text-align: center;
  position: fixed;
  background-color: rgb(77, 83, 94);
}

#titulo {
  color:rgb(253, 251, 251);
  font-weight:lighter;
}

#foto {
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;

}

#minha_foto {
	border-radius: 50%;
	margin-left: 550px;
  margin-top: 150px;}

#links {
  text-align: center;
  font-size: 15px;
}

.linkedin, .Github,  .instagram {
  color: rgb(77, 83, 94);
  font-family: monospace;
}

#secao {
  background-color: rgb(77, 83, 94);
}

div {
  width: 180px;
  height: 200px;
  display: inline-block;
  margin-left: 350px;
  text-align: center;
  align-items: center;  
}

#conteiner {
  float: center;
}

#conteiner2 {
  float: center;
}

#licoes_aprendidas, #licoes_a_aprender, h2{
  color: rgb(253, 251, 251);
}

#rodape {
  display:inline;
}

table {
  padding: 0;
  margin: auto;
  color:rgb(77, 83, 94);
}

.final {
  color: rgb(253, 251, 251);
  text-align: center;
  background-color: rgb(77, 83, 94);
  padding-top: 10px;
  padding-bottom: 10px;
}