body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: sans-serif;
  position: fixed;
}

#cabecalho {
  background-color: rgb(255, 202, 212);
  top: 0;
  height: 100px;
}

#titulo {
  text-align: center;
  display: block;
  margin: 0;
  padding-top: 30px;
  color: rgb(157, 129, 137);
}

nav {
  text-align: center;
  background-color: rgb(157, 129, 137);
  height: 60px;
  padding-top: 10px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 80px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#sobre_mim {
  text-align: center;
}

#minha_foto {
  max-width: 20%;
  border-radius: 50%;
  margin: 30px;
}

#sobre_mim p {
  text-align: left;
  max-width: 70%;
  margin: 0px;
  float: right;
  padding-top: 80px;
  padding-right: 30px;
}

#rodape a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(255, 202, 212);
  color: rgb(157, 129, 137);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  width: 100px;
}