#cabecalho{
    color: darkblue;
    top: 0;
    left: 0;
    background-color: aquamarine;
    position: fixed;
    

}
#titulo{
    background-color: #0000ff;
    color: cornsilk;
  }
  #minha_foto{
      width: 300px;
  }

  h2{
    color: blue;
  }
  #licoes_aprendidas{
      color: brown;
  }

  body{
    background-color: rgb(253,251,251);
    font-size: 20px;
  }
  #licoes_a_aprender{
      color: crimson;
  }
  p{
    font-family: 'Times New Roman', Times, serif;
  }



