body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: sans-serif;
}

#cabecalho {
  background-color: rgb(255, 202, 212);
  top: 0;
  position: fixed;
  width: 100%;
  height: 115px;
  border-bottom: 5px rgb(157, 129, 137) solid;
}

#titulo {
  text-align: center;
  font-size: 3em;
  display: block;
  margin: 0;
  padding: 30px;
  color: rgb(157, 129, 137);
}

nav {
  text-align: center;
  background-color: rgb(157, 129, 137);
  height: 60px;
  padding-top: 10px;
  margin-top: 115px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 80px;
}

nav a {
  text-decoration: none;
  font-weight: 900;
  color: white;
}

nav a:hover {
  text-decoration: none;
  font-weight: 900;
  color:  rgb(255, 202, 212);
}

#sobre_mim {
  text-align: center;
}

#minha_foto {
  max-width: 20%;
  border-radius: 50%;
  margin: 30px;
}

#sobre_mim p {
  text-align: left;
  line-height: 20px;
  max-width: 70%;
  margin: 0;
  float: right;
  padding-top: 80px;
  padding-right: 30px;
}

#titulo_lista {
  font-size: 20px;
}

#lista {
  text-align: center;
  background-color: rgb(255, 202, 212);
  width: 650px;
  height: 230px;
  margin: auto;
}

#titulo_lista {
  background-color: rgb(157, 129, 137);
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 700px;
  text-align: center;
  margin: auto;
}

#licoes_aprendidas {
  display: inline-block;
  text-align: left;
  margin-right: 30px;
}

#licoes_a_aprender {
  display: inline-block;
  text-align: left;
  margin-left: 30px;
}

#conteudo {
  text-align: center;
  padding: 50px 30px;
}

.lado-esquerdo {
  float: left;
  max-width: 60%;
  margin-left: 60px;
  margin-bottom: 30px;
  text-align: left;
}

.lado-esquerdo h3 {
  margin: 0;
}

.lado-direito {
  float: right;
  max-width: 25%;
  margin-right: 60px;
  text-align: left;
}

.lado-direito h4 {
  margin: 0;
}

#rodape {
  clear: both;
  background-color: rgb(255, 202, 212);
  padding: 10px;
  width: 100%;
  text-align: center;
}

#rodape a {
  background-color: rgb(157, 129, 137);
  border-radius: 10px;
  padding: 5px;
  width: 120px;
  display: inline-block;
  margin-bottom: 15px;
}

#rodape p {
  font-size: 14px;
  color: rgb(157, 129, 137);
  font-weight: 900;
}

#tabela table {
  margin: auto;
}

.icon {
  width: 50px;
  margin: 10px;
}

