body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0px;
    position: fixed;
    
}

#minha_foto {
    width: 300px;
    border-radius: 30%;
    margin-top: 80px;
}
#rodape {
    
}