html{
    scroll-behavior: smooth;
}

body {
    background-color: rgb(253, 251, 251);
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cabecalho {
    position: fixed;
    top: 0;
    height: 6vh;
    background-color: rgb(114, 114, 114);
    width: 100%;
    text-align: center;
    min-height: 50px;
    vertical-align: middle;
}

#cabecalho h1{
    margin-left: 3vw;
    color: rgb(29, 28, 28);
    font-size: 1.5rem;
    margin-top: 1vh;
    padding: 5px;
}

.nav-list {
    display: inline-block;
    list-style-type: none;
    font-size: 1.4rem;
    margin-top: 4px;
}

.nav-list a {
    text-decoration: none;
    color: rgb(29, 28, 28);
}

.nav-list li {
    float: left;
    padding: 5px;
    margin-left: 4vw;
    right: 0vw;
    margin: 1vh 1vw;
}

.nav-pos{
    width: 100%;
    text-align: right;
    position: absolute;
    top: 0px;
    height: 1vh;
    right: 3vw;
}

.nav-list a {
    transition: .3s;
}

.nav-list a:hover{
    color: rgb(221, 219, 219);
}



.main {
    padding: 10vh 2vw 2vh 2vw;
    font-size: 1.3em;
    display: flex;
    flex-wrap: wrap;
    min-height: 94vh;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(241, 241, 241);
}

h2{
    color: teal;
}

.img {
    width: 30vw;
    max-width: 450px;
    min-width: 250px;
    align-self: auto;
    margin: 20px;

}

.article {
    padding: 20px;
    text-align: justify;
    width: 20vw;
    min-width: 250px;
    margin: 20px;
}

.aside {
    padding: 20px;
    text-align: justify;
    width: 20vw;
    min-width: 250px;
    margin: 20px;
}

.second-section{
    background-color: rgb(226, 226, 226);
    min-height: 60vh;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    align-items: flex-start;
}

h3{
    font-size: 1.8rem;
    color: teal;
}

.lists{
    width: 500px;
    min-width: 50vw;
    text-align: center;
}

.lists li{
    font-size: 1.3rem;
}

.aprendida{
    padding: 20px;
    margin: 20px;
    min-width: 250px;
    width: 25vw;
    font-size: 1.2rem;
}

.a-aprender{
    padding: 20px;
    margin: 20px;
    width: 25vw;
    min-width: 300px;
    text-align: left;
    
}

.a-aprender ul{
    width: 100px;
    list-style-type: square;
    font-size: 1.2rem;
}

.footer{
    height: 8vh;
    font-size: 1.8rem;
    text-align: center;
    background-color: rgb(138, 136, 136);
    padding: 5px;
}

h4{
    font-size: 1.2rem;
    margin: 7px;
    color: rgb(39, 39, 39);
}

.redes a{
    color: rgb(39, 39, 39);
}

.redes a:hover{
    color: rgb(75, 75, 75);
}

@media (max-width: 1200px){
    #cabecalho {
        height: 10vh;   
    }

    #cabecalho h1 {
        margin-top: 5vh;
    }

    .nav-pos {
        text-align: center;
    }
}