body {
  background-color: rgb(253, 251, 251);
}

.cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(1, 128, 1);
  height: 100px;
  padding: 5px 463px;
}

.titulo {
  text-align: center;
  color: rgb(250, 250, 250);
}

.minha_foto {
  margin-top: 120px;
  width: 200px;
  border-radius: 30px;
}

.rodape {
  position: static;
  top: 635px;
  background-color: rgb(168, 255, 143);
  height: 13px;
  padding: 0px 175px;
  text-align: center;
}