body {
  background-color:rgb(253,251,251);
}

#cabecalho {
  background-color: lightseagreen;
  position: fixed;
  top: 0;
  width: 100%;
  height: 200px;
  border: 3px solid black;
}

#titulo {
  text-align: center;
}

nav {
  text-align: left;
  position: absolute;
  margin-top: 170px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 1.2px bold;
}

#linkedin {
  margin-right: 25px;
}

#Aprendizados {
  margin-right: 25px;
}

#minha_foto {
  margin-top: 210px;
}

.licoes_lado_A {
  width: 20%;
  padding-left: 15px;
  margin-left: 2px;
  float: left;
  font-style: italic;
  background-color: lightgray;
}

.licoes_lado_B {
  width: 20%;
  padding-left: 15px;
  margin-right: 750px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

#tabela, #Primeiro_Artigo #Segundo_Artigo {
  border:2px solid black;
}

.lado-direito {
  width: 45%;
  margin-top: 15px;
  padding-left: 15px;
  margin-left: 2px;
  float: left;
  font-style: italic;
  background-color: lightgray;
  display: inline-block;
  offset: initial;
}

.lado-esquerdo {
  width: 45%;
  margin-top: 15px;
  padding-left: 15px;
  margin-right: 80px;
  padding-bottom: 100px;
  float: right;
  font-style: italic;
  background-color: lightgray;
  display: inline-block;
  offset:initial;
}

p {
  font-weight: 16px;
  color: darkblue;
  line-height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  font-weight:1.2px bold;
}