#fundo {
    background-color: rgb(253, 251, 251);
    font-family: Times New Roman, serif;
    font-size: medium;
    color:	#2F4F4F;
    line-height: 23px;   
}

#cabecalho {
    position: fixed;
    top: 0;
    width: 940px;
    background-color:#2F4F4F;
    color:white;
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-top: 1px;
    z-index: 3;
}

#minha_foto {
    width: 150px;
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: rgb(253, 251, 251);
    z-index: 1;
}

#licoes {
    position: absolute;
    top: 350px;
    left: 20px;
    background-color: rgb(253, 251, 251);
}

#licoes_aprendidas {
    position: absolute;
    top: 400px;
    left: 20px;
    background-color: rgb(253, 251, 251);
}

#licoes_a_aprender {
    position: absolute;
    top: 400px;
    left: 220px;
    background-color: rgb(253, 251, 251);
}

#rodape {
    position: absolute;
    top: 1070px;
    left: 20px;
    background-color: rgb(253, 251, 251);
}

#link_externo {
    position: absolute;
    top: 900px;
    left: 420px;
    background-color: rgb(253, 251, 251);
}

.lado-esquerdo {
    position: absolute;
    top: 700px;
    left: 20px;
    text-align: justify;
    width: 500px;
    background-color: rgb(253, 251, 251);
}

.lado-direito {
    position: absolute;
    top: 700px;
    left: 600px;
    text-align: justify;
    width: 200px;
    background-color: rgb(253, 251, 251);
    z-index: 2;
}

#tabela {
    position: absolute;
    top: 900px;
    left: 20px;
    text-align: justify;
    width: 400px;
    background-color: rgb(253, 251, 251);
    z-index: 2;
}

.linha {
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-top: 5px;
    margin: 10px 10px 10px 10px;
}
