body {
    background-color: rgb(253, 251, 251);  /* Requisito */ 
    margin: 0 auto;
}

div, section, article, p, img {
    border-style: solid;
}

#cabecalho {
    position: fixed;  /* Requisito */ 
    top: 0;  /* Requisito */ 
    width: 99.5%;
    background-color: #454372;    
    box-shadow: 1px 1px 1em;
    z-index: 1;
}

#titulo {
    color: rgb(253, 251, 251);
    text-align: center;
}

.contatos a{
    color: wheat;
}

.first-layer {
    margin-top: 10%;
}

.outer-image-container {
    width: 99.5%;
    position: relative;
    height: 30%;
    margin-bottom: 1%;
}

.inner-image-container {
    width: max-content;
    margin: 0 auto;
}

.outer-about-container {
    margin-bottom: 1%;
}

.outer-about-container h2 {
    text-align: center;
}
.general-about {
    width: 99.5%;
    padding: 1%;
}

.about-list {
    display: inline-block;
    padding: 2%;
    
}

.about-text {
    display: inline-block;
    width: 40%;
    margin-top: 2%;
}

