body {
    background-color: rgb(253, 251, 251);
    margin: opx;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(253, 251, 251);
}

#cabecalho{
    position: fixed;
    z-index: 1;
    background-color: rgb(42, 46, 43);
    top: 0px;
    width: 100%;
    margin: 0%;
    height: 70px;
    border-bottom: rgb(253, 251, 251);
    
}

#titulo{
    margin-left: 100px;
    vertical-align: middle;
    font-size: 40px;
    text-align: unset;

}

#nav{
    position: fixed;
    top: 70px;
    border-bottom: solid rgb(253, 251, 251);
    border-top: rgb(253, 251, 251);
    background-color: rgb(20, 48, 20);
    display: block;
    width: 100%;
    height: 40px;
    
    
}

#cabecalho a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: rgb(253, 251, 251);
    margin-top: 6px;
    margin-left: 30px;
    
}


#nav a:hover{
    background-color: rgb(42, 46, 43);
   

}

#bg{
    background-image: url(./img/trajeto.jpeg);
    margin-top: 80px;
    background-position-y: -400px;
    background-position-x: -350px;
    height: 500px;
   

}

#minha_foto{
    width: 200px;
    border-radius: 50%;
    border: double rgb(253, 251, 251);
    position: absolute;
    left: 44%;
    top: 40%;
   
}

article{
    width: 500px;
    position: absolute;
    top: 25%;
    left: 3%;
    padding: 10px;
    border: double rgb(253, 251, 251);
}

#relato{
    line-height: 25px;
    font-style: italic;
    
}

aside{
    width: 450px;
    border: double rgb(253, 251, 251);
    padding: 10px;
    position: absolute;
    left: 60%;
    top: 57%;
}

aside p{
    line-height: 25px;
    font-style: italic;
    
}
.lado-esquerdo, .lado-direito{
    color: rgb(42, 46, 43);
}

#tabela, #tabela td{
    border: 1px double rgb(42, 46, 43);
    border-spacing: 1px;
    color: rgb(42, 46, 43);
       
}
#tabela td{
    padding: 20px;
}


#rodape{
    background-color: rgb(42, 46, 43);

}
footer img{
    width: 40px;

}
footer a{
    
    color: rgb(253, 251, 251);
    text-decoration: none;
    margin-left: 100px;
}