body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  width: 300px;
}

.lado-esquerdo{
  display:inline-block;
  width: 49%;
}

.lado-esquerdo article p{
  width: 49%;
}

.lado-direito{
  display:inline-block;
}

#projetos {
  margin: 81px;
  padding: 20px;
}

p{
  font-size: 20px;
  color:brown;
  line-height: 20px;
  font-family: monospace;
}

#projetos, th, tr{
  border: 2px solid black;
}