body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  overflow: auto;
  background-color: lightblue;
}

#minha_foto {
  width: 100px;
}

#licoes_aprendidas {
  font-size: small;
}

#sub_titulo {
  font-style: italic;
}

#licoes_a_aprender {
  font-size: small;
}

#rodape {
  font-size: x-small;
}


