* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Montserrat, sans-serif;
}

li {
  padding: 0 20px;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

#navigation_bar li a:hover {
  color: #026b52;
}

#navigation_bar li {
  display: inline-block;
}

#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  background-size: cover;
  background-image: url('images/capalinkedin.png');
  background-position: 0 20%;
  height: 70px;
  line-height: 70px;
  color: white;
  z-index: 999;
}

#navigation_bar {
  margin-top: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100%;
}

.presentation {
  width: 100%;
  height: 500px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

#presentation2 {
  position: relative;
  max-width: 700px;
  left: 50%;
  transform: translateX(-50%);
  top: 75%;
  font-size: 25px;
  color: white;
  background-color: #026b52;
}

#minha_foto {
  width: 300px;
  position: relative;
  border-radius: 50%;
  border: 5px solid #026b52;
  bottom: 30px;
}

.texts {
  background-color: #f0f2f5;
  height: 300px;
  text-align: center;
}

.lado-esquerdo {
  display: inline-block;
  position: relative;
  width: 500px;
  margin: 20px;
  top: 55%;
  transform: translateY(-85%);
}

.lado-direito {
  display: inline-block;
  position: relative;
  width: 500px;
  margin: 20px;
  top: 55%;
  transform: translateY(-85%);
  border-left: 1px solid black;
  padding-left: 40px;
}

.listas {
  position: relative;
  height: 400px;
  list-style-type: none;
  text-align: center;
}

.listas h2 {
  color: #026b52;
}

.listas div {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 300px;
  box-shadow: 7px 5px 5px 5px rgba(0, 0, 0, 0.164);
  margin: 50px;
  border-radius: 5px;
  padding: 30px;
}

#table h2 {
  color: #026b52;
  display: inline-block;
  padding-top: 20px;
}

#table {
  background-color: #f0f2f5;
  height: 500px;
  position: relative;
  text-align: center;
  border-radius: 20px;
}

.tg {
  border-collapse: separate;
  border-color: #bbb;
  border-spacing: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  box-shadow: 7px 5px 5px 5px rgba(0, 0, 0, 0.164);
}

.tg td {
  background-color: #e0ffeb;
  border-color: #bbb;
  border-style: solid;
  border-width: 0;
  color: #594f4f;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  background-color: #9de0ad;
  border-color: #bbb;
  border-style: solid;
  border-width: 0;
  color: #493f3f;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-rebb {
  border-color: inherit;
  font-family: Verdana, Geneva, sans-serif ! important;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.tg .tg-1av6 {
  border-color: inherit;
  font-family: Verdana, Geneva, sans-serif ! important;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
}

.tg .tg-jzjz {
  font-family: Verdana, Geneva, sans-serif ! important;text-align: center;
  vertical-align: top;
}

.tg .tg-ix6g {
  border-color: inherit;
  font-family: Verdana, Geneva, sans-serif ! important;text-align: center;
  vertical-align: top;
}

#rodape svg {
  fill: #026b52;
  width: 30px;
  margin: 0 4px;
}

#rodape svg:hover {
  fill: rgb(0, 0, 0);
}



#rodape {
  text-align: center;
  font-size: 14px;
  height: fit-content;
}