@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: Montserrat, sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: rgb(35, 89, 69);
  color: white;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(19, 38, 35);
  z-index: 999;
}

header h1 {
  text-align: center;
  margin: 8px 0;
}

main {
  margin-top: 100px;
  text-align: center;
}

footer {
  background-color: rgb(35, 89, 69);
  width: 100%;
  text-align: center;
}

footer nav {
  height: 100%;
}

footer svg {
  width: 20px;
  fill: white;
  margin: 20px 15px 15px;
}

footer svg:hover {
  fill: black;
}

footer a {
  text-decoration: none;
}

footer p {
  color: white;
  margin: 0;
  font-size: 0.8rem;
  padding-bottom: 15px;
}

#minha_foto {
  border-radius: 50%;
  border: 3px solid rgb(35, 89, 69);
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  margin: 25px;
}

#description {
  width: 400px;
  text-align: justify;
  display: inline-block;
  vertical-align: middle;
  margin: 25px;
}

#description h2 {
  font-size: 2rem;
  font-weight: 800;
  color: white;
  background-color: rgb(35, 89, 69);
  padding: 10px;
}

#description span {
  font-weight: 800;
  font-size: 1.2rem;
}

#lists .lado-esquerdo , .lado-direito {
  text-align: justify;
  display: inline-block;
  background-color: rgb(253, 251, 251);
  margin: 50px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.253);
  width: 300px;
}

#lists li {
  padding-left: 10px;
  line-height: 1.5rem;
}

#textos-corridos {
  background-color: rgb(243, 243, 243);
}

#textos-corridos a {
  color: rgb(35, 89, 69);
  text-decoration: none;
}

#textos-corridos a:hover {
  color: black;
}

#texto-lado-esquerdo {
  display: inline-block;
  width: 46%;
  vertical-align: middle;
  padding: 25px 10px;
  border-right: 1px solid black;
}

#texto-lado-direito {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
  padding: 10px;
}
