body {
  background-color: 253, 251, 251;
}

#cabecalho {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: greenyellow;
}

#titulo {
  width: 100%;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  color: black;
}

#minha_foto {
  border-radius: 50%;
  width: 250px;
  margin-top: 100px;
  margin-left: 550px;
}

.link {
  color: black;
  font-family: monospace;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#licoes_aprendidas {
  background-color: rgb(187, 231, 142);
  border-width: 5px;
  border-style: double;
  border-color: black;
}

#licoes_a_aprender {
  background-color: rgb(187, 231, 142);
  border-width: 5px;
  border-style: double;
  border-color: black;
}

#rodape {
  font-family: monospace;
  position: absolute;
  width: 100%;
  background-color: greenyellow;
}

.texto {
  width: 100%;
  color: black;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
}

#list {
  display: inline-block;
  font-size: 16px;
  font-family: Verdana, Tahoma, sans-serif;
  line-height: 20px;
  letter-spacing: 0.2px;
}

#sidebar {
  width: 20%;
  color: black;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  float: right;
}

.texto2 {
  width: 100%;
  color: black;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}
