body {
    background-color: rgb(253, 251, 251);
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    height: 130vh;
}

#cabecalho {
    position: fixed;
    top: 0; 
    width: 100%;
    text-align: center;
    background-color: rgb(25, 187, 25);
    z-index: 1;
}

#cabecalho li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

h1 {
  font-size: 20px;
}

#minha_foto {
    width: 15%;
    position: absolute;
    top: 15.3%;
} 

#meu_github {
    position: absolute;
    top: 46%;
}

#licoes_aprendidas {
    position: absolute;
    top: 15%;
    left: 18%;
    line-height: 25px;
    font-size: 18px;
}

#licoes_a_aprender{
    position: absolute;
    top: 15%;
    left: 18%;
    padding: 0 330px;
    line-height: 25px;
    font-size: 18px;
}

#article {
    position: absolute;
    top: 60%;
    margin: 10px;
    line-height: 25px;
    font-size: 18px;
    width: 45%;   
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.2);
}

#article h1 {
    text-decoration: underline;
    font-size: 25px;
}

#section {
    position: absolute;
    /* top: 95%;
    margin: 10px;
    line-height: 25px;
    font-size: 18px;
    width: 45%; */
    margin: 40px 0;
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.2);
}

#rodape {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#rodape a {
    background-color: #f5f5f5;
    margin: 10px;
}



