body{
    background-color: rgb(253, 251, 251);
}

header{
    position: fixed;
    margin-top: 0;
    width: 100%;
    text-align: center;
}

img#minha_foto {
    width: 300px;
    margin-top: 100px;
    margin-left: 200px;
}