body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: green;
    color: seashell;
}
  
#titulo {
    text-align: center;
}



#minha_foto {
    width: 150px;
    margin-top: 130px;
}