* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Montserrat, sans-serif;
}

li {
  display: inline-block;
  padding: 0 20px;
  
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  background-size: cover;
  background-image: url(images/capalinkedin.png);
  background-position: 0 20%;
  height: 70px;
  line-height: 70px;
  color: white;
}

#navigation_bar {
  position: fixed;
  margin-top: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
}
#minha_foto {
  width: 250px;
  border: 2px solid green;
  padding: 50px;
}

#licoes_aprendidas {
  font-size: 18px;
}

#p {
  color: orange;
  line-height: 50px;
}

#licoes_a_aprender {
  font-size: 20px;
}

main {
  margin-top: 294px;
}

nav {
  margin-top: 294px;
}

.lado-esquerdo {
  display: inline-block;
  width: 49%;
}

.lado-direito {
  display: inline-block;
  width: 50%;
}

