
body {
    background-color:rgb(253, 251,251)
}

#minha_foto {
    width: 300px;
    margin-top: 80px;
    }
#cabecalho {
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: rgb(76, 170, 126);
    color: rgb(253, 251, 251);
    text-align: center;
}
#licoes_aprendidas {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif; 
}
#licoes_a_aprender {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#rodape {
    font-size: 10px;
    color: grey;
    
}
a {
    font-size: 25px;
    left: 50px;
}
.aprendidas {
    font-size: 30px;
}
.queroaprender {
    font-size: 30px;
}

.articletext {
    color:rgb(20, 66, 44);
    font-size: 20px;
    justify-content: center;
    display: block;
}

.textolateral {
    width: 50%;
    justify-content: center;
    font-size: 20px;
    left:-50px;
    display: block;
    position:center;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
     'Open Sans', 'Helvetica Neue', sans-serif;
}



