body{
    background-color:rgb(253, 251, 251);
    margin:0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(253, 251, 251);
}

body h2, body li{
    color:rgb(42, 46, 43);
}


#cabecalho{
    position:fixed;
    z-index:1;
    background-color:rgb(42, 46, 43);
    top:0px;
    width:100%;
    
    
    border-bottom:rgb(253, 251, 251);
    
}
h1 {
    text-align: center;
}

#titulo{
    padding-left: 50px;
    font-size:40px;
    text-align:unset;
    margin-bottom: 10px;
    

}

#nav{
    padding-left: 50px;
    top: 70px;
    border-bottom: solid rgb(253, 251, 251);
    border-top: rgb(253, 251, 251);
    background-color: rgb(20, 48, 20);
    display: block;
    width: 100%;
    height: 40px;
    
    
}

#cabecalho a{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: rgb(253, 251, 251);
    margin-top: 6px;
    margin-right: 30px;
    
}

#nav a:hover{
    background-color:rgb(42, 46, 43);
   

}


#bg{
    background-image:url(./img/trajeto.jpeg);
    margin-top:80px;
    background-position-y:-400px;
    background-position-x:-350px;
    height:540px;
   

}

#minha_foto{
    width:250px;
    border-radius:50%;
    border:double rgb(253, 251, 251);
    position:absolute;
    left: 538px;
    top:20em;
   
}

article{
    width:500px;
    position:absolute;
    top:25%;
    left: 1em;
    padding:10px;
    border:double rgb(253, 251, 251);
}

#relato{
    line-height:25px;
    font-style:italic;
    
}

aside{
    width:450px;
    border:double rgb(253, 251, 251);
    padding:10px;
    position:absolute;
    left:830px;
    top:400px;
}

aside p{
    line-height:25px;
    font-style:italic;
    
}

.skills{
    padding: 20px 70px 20px 70px;
    width: 80%;
    margin: auto;
    height: 400px;
    box-sizing: content-box;
}

.lado-esquerdo, .lado-direito, .central{
    border: 2px double rgb(42, 46, 43);
    border-spacing: 2px;
    padding: 10px;
    width: 27%;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
}

table{
    color:rgb(42, 46, 43); 
}
table td{
    border:1px double rgb(42, 46, 43);
    border-spacing:1px;
    color:rgb(42, 46, 43);
    padding:20px;   
}

#rodape{
    background-color:rgb(42, 46, 43);
    
    width: 100%;
}
footer #contact{
    padding-left: 590px;
}
#rodape img{
    width:40px;
    margin-right: 80px;
    margin-bottom: 5px;
    
}
#rodape a{  
    color:rgb(253, 251, 251);
    text-decoration:none;
    margin-right:65px;
    
}
footer #linkedin{
    padding-left: 580px; 
}