body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0px;
}

article {
    margin: 15px;
    padding: 30px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 17px;
}

table {
    border: 1px solid #333;
}