body {
    background-color: rgb(253, 251, 251);
}
main {
    margin-top: 100px;
    padding-top: 5px;
}
#cabecalho {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
    height: 100px;
}
#titulo {
    color: white;
    padding-left: 10px;
}
.link {
    color: white;
    text-decoration: none;
    list-style-type: none;
}
.aprendizado{
    position: absolute;
    top: 30px;
    left: 450px;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
.passagem {
    position: absolute;
    top: 30px;
    left: 650px;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
.contato {
    position: absolute;
    top: 30px;
    left: 850px;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
#minha_foto {
    width: 150px;
    border-radius: 50%;
    padding-top: 20px;
}
#licoes_aprendidas {
    display: inline-block;
    margin: 10px;
}
#licoes_a_aprender {
    display: inline-block;
    margin: 10px;
}
#rodape {
    background-color: gray;
    padding-bottom: 50px;
    vertical-align: top;
}
#rodape p {
    margin: 15px;
    padding-top: 10px;
}
