body {
    background-color: rgb(253, 251, 251);
    margin: 0px;
}

#cabecalho {
    background-color: #4f772d;
    position: fixed;
    top: 0px;
    padding: 10px 400px;
    width: 100%;
}

#titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(253, 251, 251);
    font-size: 40px;
}

#minha_foto {
    width: 150px;
    top: 180px;
    left: 50px;
    position: absolute;
    border-width: 2px;
    border: 5px solid #132a13;
}
#licoes_aprendidas {
    display: block;
    position: absolute;
    top: 140px;
    right: 50px;
    background-color: #90a955;
    border: 3px solid #31572c;
    width: 200px;
    line-height: 1.3;
}
#licoes_a_aprender {
    display: block;
    position: absolute;
    top: 465px;
    right: 100px;
    background-color: #90a955;
    border: 3px solid #31572c;
    line-height: 1.3;
    
}
#rodape{
    position: absolute;
    display: block;
    bottom: 1px;
    left: 10px;
}
#nome-linkado {
    position: absolute;
    display: block;
    top: 405px;
    left: 70px ;
    color: #132a13;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    
}
.lado-esquerdo {
    position: absolute;
    display: block;
    width: 270px;
    left: 300px;
    top: 170px;
    text-align: center ;
    background-color: #ecf39e;
    color: #132a13;
    padding: 20px;
    border-radius: 10%;
    border: 3px solid #132a13;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lado-direito {
    position: absolute;
    display: block;
    top: 200px;
    width: 230px;
    left: 645px;
    text-align: center;
    border: 3px solid #132a13;
    background-color: #ecf39e;
    padding: 20px;
    border-radius: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #132a13 ;
}