body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: 'Roboto';
  letter-spacing: 1px;
  font-size: 16px;
}

h1 {
  font-family: 'Roboto',

    Medium 500 italic;
  font-weight: 600;
}

#cabecalho {
  background-color: #036b52;
  color: aliceblue;
  text-align: center;
  padding: 20px;
  margin: 0px;
  position: fixed;
  width: 1300px;
  top: 0;

}

#minha_foto {
  margin-top: 150px;
  padding: 10px;
  border-radius: 50%;
  width: 20%;
}

table {
  width: 500px;
  height: 300px;
  border-collapse: collapse;
  border: 1px solid #455;


}


#licoes_aprendidas {
  list-style: decimal;

  border-radius: 4px;

}

#licoes_a_aprender {
  list-style: circle;

  border-radius: 4px;

}

section {
  position: relative;

  padding: 20px;

}


.contacts {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
