body {
  background-color: 253, 251, 251;
}
.cabecalho {
  position: fixed;
  top: 0px;
  left: 680px;
  right: 0;
  height: 35px;
}
.minha_foto {
 border-radius: 50%;
  width: 300px;
 z-index: 1;
 top: 80px;
}
.link {
  color:black;
font-family: monospace;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.licoes_aprendidas {
  background-color: yellow;
}
.licoes_a_aprender {
  background-color: magenta;
}
.rodape {
  background-color: #A9A9A9;
}