body {
    background-color: rgb(253, 251, 251);
    margin-top: 150px;
    margin-left: 0;
    border: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 0;
    margin-bottom: 0;
}

#cabecalho {
    position: fixed;
    top: 0;
    padding: 30px;
    font-size: 30px;
    background-color: #036b52;
    width: 100%;
    color: white;
    z-index: 2;
}

#nav ul {
    position: fixed;
    margin: 0;
    z-index: 2;
    margin-bottom: 3px;
}

#itens_nav li { 
    display: inline-block;
    padding: 10px 42px;
    list-style-type: none;
}

#itens_nav a {
    text-decoration: none;
    color: black;
}

#itens_nav a:hover {
    color: white;
}

#itens_nav {
    list-style-type: none;
    position: fixed;
    top: 129px;
    width: 100%;
    background-color: #2fc18c;
    font-size: 20px;
    padding: 0;
    color: black;
    font-weight: 600;
}

#titulo {
    margin: 0;
}

#home {
    padding: 30px;
}

#minha_foto {
    width: 300px;
    top: 200px;
    border-radius: 50%;
    border: 8px solid #036b52;
    display: inline-block;
    margin-left: 25%;
}

#meu_nome {
    margin: 0;
    display: inline-block;
    position: relative;
    bottom: 60px;
    font-size: 65px;
    width: min-content;
    z-index: 0;
    padding-left: 30px;
    
}

#meu_nome a {
    text-decoration: none;
    color: black;
}

#meu_nome a:hover {
    color: #0077B5;
}

#licoes_aprendidas {
    font-size: 20px;
    line-height: 25px;
    background-color: lightgreen;
    padding: 0px 40px;
    margin: auto;
    width: fit-content;
}

a.anchor {
    display: block;
    position: relative;
    top: -162px;
    visibility: hidden;
}

a.anchor_home {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

a.anchor_aprendizado {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

#licoes_a_aprender {
    background-color: lightsalmon;
    font-size: 20px;
    line-height: 25px;
    padding: 0px 90px;
    width: fit-content;
    margin: auto;
}

#rodape p {
    font-style: italic;
    background-color: #036b52;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
    padding: 5px 0 5px;
}

#tabela {
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
    margin-left: 30px;
    font-size: 20px;
    padding-left: ;
}

td {
    padding: 5px;
    background-color: rgb(169, 247, 176);
}

#titulo_texto {
    background-color: #2fc18c;
    padding: 10px 42px;
    font-size: 20px;
}

#primeira_lista {
    display: inline-block;
    width: 49%;
    text-align: justify;
    margin: auto;
}

#segunda_lista {
    display: inline-block;
    position: relative;
    width: 50%;    
    text-align: justify;
}

.lado-esquerdo {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.lado-direito {
    display: inline-block;
    width: 50%;
    margin: auto;
}

.p {
    margin-left: 30px;
    text-align: justify;
    width: 80%;
    font-size: 18px;
}

