body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    background-color: #faedcd;
    left: 0;
    right: 0;
    height:120px;
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
}

.menu {
    list-style: none;
    margin: 10px;
    text-align: center;
    color: #283618;
}

.listamenu {
    list-style: none;
    margin: 10px;
    display: inline-block;
    color: #283618;
}

a:link {
    color: #283618;
}

a:visited {
    color: #bc6c25;
}

a:hover {
    color: #e5989b;
}

#titulo {
    color: #283618;
    text-align: center;
}

h1, #titulo {
    color: #606c38;
}

#minha_foto {
    width: 400px;
    border-radius: 50%;
    margin-top: 200px;
    
}

#licoes_aprendidas {
   
}

#licoes_a_aprender {
    
}

#rodape {

}

p, li {
    font-family: 'Times New Roman', Times, serif;
}