* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Montserrat, sans-serif;
}

li {
  padding: 0 20px;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

#navigation_bar li a:hover {
  color: rgb(2, 107, 82);
}

#navigation_bar li {
  display: inline-block;
}

#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  background-size: cover;
  background-image: url('images/capalinkedin.png');
  background-position: 0 20%;
  height: 70px;
  line-height: 70px;
  color: white;
  z-index: 999;
}

#navigation_bar {
  margin-top: 70px;
  height: 30px;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 998;
  background-color: rgb(253, 251, 251);
  top: 0;
  padding-top: 10px;
}

.presentation {
  width: 100%;
  height: 500px;
  text-align: center;
  vertical-align: middle;
  margin-top: 100px;
}

#presentation2 {
  position: relative;
  max-width: 700px;
  left: 50%;
  transform: translateX(-50%);
  top: 75%;
  font-size: 25px;
  color: white;
  background-color: rgb(2, 107, 82);
}

#minha_foto {
  width: 300px;
  position: relative;
  border-radius: 50%;
  border: 5px solid rgb(2, 107, 82);
  bottom: 30px;
}

.texts {
  background-color: rgb(240, 242, 245);
  height: 300px;
  text-align: center;
}

a.trybe {
  color: rgb(46, 193, 139);
  font-weight: 700;
  text-decoration-line: underline;
}

a.trybe:hover {
  color: rgb(2, 107, 82);
}

span {
  text-decoration-line: underline;
  font-weight: 700;
}

.lado-esquerdo {
  display: inline-block;
  position: relative;
  width: 500px;
  margin: 20px;
  top: 45%;
  transform: translateY(-85%);
}

.lado-direito {
  display: inline-block;
  position: relative;
  width: 500px;
  margin: 20px;
  top: 55%;
  transform: translateY(-85%);
  border-left: 1px solid black;
  padding-left: 40px;
}

.listas {
  position: relative;
  height: 400px;
  list-style-type: none;
  text-align: center;
}

.listas h2 {
  color: rgb(2, 107, 82);
}

.listas div {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 300px;
  box-shadow: 7px 5px 5px 5px rgba(0, 0, 0, 0.164);
  margin: 50px;
  border-radius: 5px;
  padding: 30px;
}

#table h2 {
  color: rgb(2, 107, 82);
  display: inline-block;
  padding-top: 20px;
}

#table {
  background-color: rgb(240, 242, 245);
  height: 500px;
  position: relative;
  text-align: center;
  border-radius: 20px;
}

.tg {
  border-collapse: separate;
  border-color: rgb(187, 187, 187);
  border-spacing: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  box-shadow: 7px 5px 5px 5px rgba(0, 0, 0, 0.164);
}

.tg td {
  background-color: rgb(224, 255, 235);
  border-color: rgb(187, 187, 187);
  border-style: solid;
  border-width: 0;
  color: rgb(89, 79, 79);
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  background-color: rgb(157, 224, 173);
  border-color: rgb(187, 187, 187);
  border-style: solid;
  border-width: 0;
  color: rgb(73, 63, 63);
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-rebb {
  border-color: inherit;
  font-family: Montserrat, Verdana, Geneva, sans-serif;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
}

.tg .tg-1av6 {
  border-color: inherit;
  font-family: Montserrat, Verdana, Geneva, sans-serif;
  text-align: center;
  text-decoration: underline;
  vertical-align: top;
}

.tg .tg-jzjz {
  font-family: Montserrat, Verdana, Geneva, sans-serif;
  text-align: center;
  vertical-align: top;
}

.tg .tg-ix6g {
  border-color: inherit;
  font-family: Montserrat, Verdana, Geneva, sans-serif;
  text-align: center;
  vertical-align: top;
}

#rodape svg {
  fill: rgb(2, 107, 82);
  width: 30px;
  margin: 0 4px;
}

#rodape svg:hover {
  fill: black;
}

#rodape {
  text-align: center;
  font-size: 14px;
  height: fit-content;
}
