body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
}

#titulo {
    color: white;
    text-align: center;
    line-height: 50px;
}

#minha_foto {
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 50%;
    margin-right: 50%;
    

}

main {
    margin-top: 150px;
}

#rodape {
    position: fixed;
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
}

#rodape_text {
    color: white;
    font-size: 10px;
    font-family: fantasy;
    text-align: center;    
}

.botaoLi {
    background-color: blue;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 50%;
    margin-right: 50%;
    

}


h2 {
    text-align: center;
}

ol, ul {
    display: inline-block;
    
}


.lado-esquerdo {
    display: inline-block;
    width: 300px;
}

.lado-direito {
    display: inline-block;
    width: 300px;
    
    
}

