* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: rgb(253, 251, 251);
  font-family: Montserrat, sans-serif;
}
#cabecalho {
  position: fixed;
  top: 0;
}
#titulo {

}
#minha_foto {
  width: 250px;
}
#licoes_aprendidas {

}
#licoes_a_aprender{

}
main {
  margin-top:294px;
}
nav {
  margin-top:294px;
}
