html {
  
  /* Source: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 */
  scroll-behavior: smooth;
}

/*  
- Adiciona a cor específica ao fundo do body
- Especifica uma fonte para o body
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 1vh 3vw 1vh 5vw;
  width: 90vw;
  color: rgb(241, 250, 238);
  background: url(/sd-12-project-lessons-learned/images/sincerely-media-OOHsoUNRxt8-unsplash.png) no-repeat center fixed;
  background-color: rgb(253, 251, 251);
}

/* 
Source: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

#cabecalho {
  top: 0;
  left: 5vw;
  position: fixed;
  width: 90vw;
  background-color: rgb(18,37,50);
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 0 1vw 1vw;
  box-shadow: 0 2px 5px black;
  opacity: 95%;
}

#titulo {
  font-size: 1.5rem;
  margin: 0.5vw 0;
}

.nav {
  font-size: 1.5rem;
}


.internal {
  transition-duration: 0.5s;
  color: rgb(241, 250, 238);
  padding: 0 0.5vw; 
}

/*
Source: https://www.w3schools.com/cssref/sel_visited.asp
*/

.internal:hover {
  color: rgb(69, 123, 157);
  text-shadow: 1px 1px 2px black;
  font-size: 101%;
  transition-duration: 0.5s;
}

.internal:visited {
  color: rgb(18,37,50);
}

.perfil {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 10vh auto;
  width: 40%;
  border-radius: 1vw;
  color: rgb(241, 250, 238);
  padding: 1%;
  transition-duration: 0.5s;
}


#minha_foto {
  border-radius: 50%;
  max-width: 20vw;
  min-width: 130px;
  box-shadow: 2px 2px 5px black;
}

.perfil h2 {
  font-size: 3rem;
  text-shadow: 1px 1px 5px black;
  text-align: center;
  color: rgb(18,37,50);
  padding: 1%;
  border: 1px solid black;
  border-radius: 1vw;
  transition-duration: 0.5s;
}

.perfil h2:hover {
  box-shadow: 5px 5px 5px black;
  transition-duration: 0.5s;
}

.seta {
  font-size: 4rem;
  color: rgb(18,37,50);
  transition: 0.5s;
  opacity: 70%;
  width: 90vw;
  text-align: center;
}

.seta:hover {
  color: rgb(69, 123, 157);
  transition: 0.5s;
  text-shadow: 2px 2px 2px black;
  opacity: 100%;
}

#licoes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-radius: 1vw;
}

#licoes h3 {
  padding: 1vw;
  border-radius: 1vw; 
  border: 1px solid black;
  margin: 15vh 40vw 0;    
  font-size: 1.5em;
  transition-duration: 0.5s;
  color: rgb(18,37,50);
}

#licoes h3:hover {
  box-shadow: 5px 5px 5px black;
  transition-duration: 0.5s;
}

.boxes {
  list-style-type: none;
  padding: 2vh 2vw;
  border-radius: 1vw;
  margin: 1vh 10vw;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transition-duration: 0.5s;
  background-color:rgb(18,37,50);
  color: rgb(241, 250, 238);
}

/* 
Source: https://developer.mozilla.org/pt-BR/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions 
*/

.boxes:hover {
  box-shadow: 5px 5px 5px black;
  transition-duration: 0.5s;
}

.boxes h4 {
  border-bottom: 2px solid rgb(241, 250, 238);
  font-size: 1.2rem;
}

.boxes li {
  width: fit-content;
}

.boxes li:hover {
  color: rgb(69, 123, 157);
}

#artigos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  padding: 2%;
  background-color: rgb(18,37,50);
  border-radius: 1vw;
  margin-top: 50vh;
  margin-bottom: 30vh;
  transition-duration: 0.5s;
  line-height: 3vh;
}

#artigos:hover {
  box-shadow: 5px 5px 5px black;
  transition-duration: 0.5s;
}

#aprendizado {
  width: 40vw;
  flex-grow: 1;
  padding-right: 5%;
  color: rgb(241, 250, 238);
}

#aprendizado a {
  color: rgb(69, 123, 157);
  font-weight: 600;
  text-decoration: none;
  font-style: italic;
}
#aprendizado a:visited {
  color: rgb(69, 123, 157);
}
#aprendizado a:hover {
  text-shadow: 1px 1px 2px black;
}

#aprendizado h4 {
  text-align: center;
  border-bottom: 2px solid rgb(241, 250, 238);
  font-size: 1.2rem;
}

#lateral { 
  text-align: center;
  flex-grow: 1;
  width: 20vw;
  padding: 1%;
  background-color: rgb(168, 218, 220);
  border-radius: 1vw;
  transition-duration: 0.5s;
  color: rgb(18,37,50);
}

#lateral h4 {
  border-bottom: 2px solid rgb(18,37,50);
  font-size: 1.2rem;
}

/* Tabela de contatos vira um menu lateral "interativo": funciona normalmente apenas para a resolução pedida pelo projeto, por enquanto 
Sources: 
1- https://stackoverflow.com/questions/41468762/change-orientation-to-vertical-table-rows-html-css

2- https://www.w3docs.com/snippets/html/how-to-add-an-onclick-effect-in-css.html
*/

#contatos {
  position: fixed;
  top: 50vh;
  left: -100px;
  background-color: rgb(18,37,50);
  border-radius: 1vw;
  transform: rotate(90deg);
  color: rgb(241, 250, 238);
  transition: 0.5s;
  transition-delay: .2s;
}

#contatos:hover {
  left: -45px;
  transition: 0.5s;
  text-shadow: 2px 2px 2px black;
}

#contatos td {
  font-size: 3rem;
  padding-left: .5vw;
  transform: rotate(-90deg);
}

.link {
  color: rgb(241, 250, 238);
}

.link:hover {
  color: rgb(69, 123, 157);
}

.link:visited {
  color: rgb(241, 250, 238);
}

/*
Source: https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient()
*/

#rodape {
  position: relative;
  bottom: -5vh;
  left: -5vw;
  color: rgb(18,37,50);
  background: linear-gradient(rgb(18,37,50) -30%, rgb(241, 250, 238) 80%);
  width: 98.9vw;
  text-align: center;
}

#rodape p {
  margin: 0;
  font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}