header {
    position: fixed;
    top: 0;
    background-color: green;
    width: 100%;
    padding: 10px;
    border: solid black 1px;
    text-align: center;
}
img {
    margin: 20px;
    margin-top: 150px;
    padding: 10px;
    width: 200px;
    display: block;
}
body {
    background-color: rgb(253, 251, 251);
    font-size: 1em;   
    }
li {
    font-family: mono;
    font-size: 1.2em;
    color: blue;
}
section  {
    background-color: rgb(211, 211, 211);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    color: rgb(1, 63, 1);
    line-height: 1.5em;
}
.lado-esquerdo {
    width: 70%;
    display: inline-block;
}
.lado-direito {
    width: 20%;
    display: inline-block;
}
#licoes_aprendidas{
    width: 30%;
    display: inline-block;
}
#licoes_a_aprender{
    width: 20%;
    display: inline-block;
}