body{
    background-color:rgb(253, 251, 251);
}
header{
    position: fixed;
    top: 0;
}
#titulo{

}
#minha_foto{
    width: 200px;
}
#licoes_aprendidas{

}
#licoes_a_aprender{

}
#rodape{

}
article{

}
aside{
    
}
