body {
    background-color: rgb(253, 251, 251);
    margin: 0px;
}
main {
    margin-top: 100px;
    padding-top: 5px;
}
#cabecalho {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}
#titulo {
    color: white;
    padding-left: 10px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 40px;
}
.link {
    color: white;
    list-style-type: none;
}
.aprendizado{
    position: absolute;
    top: 30px;
    left: 450px;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.passagem {
    position: absolute;
    top: 30px;
    left: 650px;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.contato {
    position: absolute;
    top: 30px;
    left: 850px;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
#ctt {
    margin-left: 10px;
    padding-top: 10px;
}
#minha_foto {
    width: 150px;
    border-radius: 50%;
    padding-top: 10px;
    margin-left: 10px;
}
#licoes_aprendidas {
    display: inline-block;
    margin: 10px;
}
#licoes_a_aprender {
    display: inline-block;
    margin: 10px;
}
.article-learning{
    margin-left: 10px;
}
.aside-pass {
    margin-left: 10px;
}
#rodape {
    background-color: gray;
    padding-bottom: 50px;
    vertical-align: top;
}
#rodape p {
    margin: 15px;
    padding-top: 10px;
}
.linkedinp {
    height: 45px;
    border-radius: 50%;
    margin-left: 10px;
}
.githubp {
    height: 45px;
    border-radius: 50px;
    margin-left: 10px;
}
.twitterp {
    height: 45px;
    border-radius: 50px;
    margin-left: 10px;
}
.instagramp {
    height: 45px;
    border-radius: 50px;
    margin-left: 10px;
}
.facebookp {
    height: 45px;
    border-radius: 50px;
    margin-left: 10px;
}
#social {
    margin-left: 10px;
}