body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  width: 200px;
  margin: 70px;
}

#rodape {
  border: 20px;
  border-color: rgb(80, 147, 202);
  border-style: solid;
  padding: 10px;
}

#titulo {
  font-size: 40px;
  color: rgb(122, 39, 6);
  font-family: monospace;
}

p {
  line-height: 20px;
  color: rgb(122, 39, 6);
}
