
body {
    background-color: rgb(253, 251, 251);
}

h1 {
    text-align: left;
    position: fixed;
    left: 20px;
}

header {
    height: 90px;
}

li, p {
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3, footer {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
    position: fixed;
    top: 0;
    left: 8px;
    background-color: lavender;
    width: 100%;
    border-style: solid;
    border-color: rgb(0, 230, 161);
    border-width: 2px;
    border-radius: 6px;
    padding: 2px;
    margin: 5px;
}

#titulo {
    font-family: Arial, Helvetica, sans-serif;
}

#minha_foto {
    padding: 0;
    border-style: solid;
    border-color: rgb(0, 230, 161);
    border-width: 3px;
    border-radius: 50%;
    margin: 5px;
    position: fixed;
    top: 108px;
    left: 9px;
    width: 200px;
}

#licoes_aprendidas {
    position: absolute;
    top: 380px;
    left: 230px;
    border: solid lavender;
    border-width: 3px;
    border-radius: 6px;
}

#licoes_a_aprender {
    position: absolute;
    top: 380px;
    left: 490px;
    border: solid lavender;
    border-width: 3px;
    border-radius: 6px;
}

.links_estudos li {
    list-style-type: none;
    padding: 5px;
    border: solid rgb(206, 206, 250);
    margin: 1px;
    border-radius: 6px;
}


.links_estudos {
    font-size: 12px;
    text-align: left;
    position: fixed;
    left: 11px;
    top: 320px;
    height: 100%;
    width: 165px;
    background-color: rgb(206, 206, 250);
    padding: 10px;
    border-style: solid;
    border-color: rgb(0, 230, 161);
    border-width: 3px;
    border-radius: 6px;
}

.article {
    background-color: lavender;
    position: absolute;
    left: 230px;
    top: 115px;
    width: 460px;
    height: 260px;
    overflow: auto;
    padding: 1px;
    border: solid rgb(0, 230, 161);;
    margin: 1px;
    border-radius: 6px;
}

.aside {
    position: absolute;
    left: 710px;
    top: 115px;
    width: 235px;
    height: 260px;
    overflow: auto;
    padding: 1px;
    border: solid blueviolet;
    margin: 1px;
    border-radius: 6px;
}

#rodape {
    position: absolute;
    left:220px;
    top: 1000px;
    bottom: 0;
}
