body{
    background-color: rgb(253, 251, 251);
}
#cabecalho{
    background-color: rgb(7, 131, 168);
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    padding: 25px;
    text-align: center;
    z-index: 1;
}
#titulo{
    color: rgb(241, 241, 241);
    display: inline;
    margin-top: auto;
    text-align: center;
    font-style: italic;
}
#minha_foto{
    width: 200px;
    margin-top: 100px;
    border-radius: 50%;
    display: inline;
}
#artigo{
    display: inline-block;
    background-color: rgba(49, 146, 57, 0.507);
    width: 600px;
   border-radius: 15px;
}
 #passagem{
     width: 170px;
     font-size: 15px;
     font-style: italic;
 }
 #aside{
     background-color: #c7c7c7;
     border-radius: 20px;
     float: right;
     z-index: 2; 
     margin-top: 100px;
     padding-left: 15px;font-style: italic;
     padding-right: 15px;
     
 }
 #licoes_aprendidas{
     background-color: #f5f5f5;
     display: inline-block;
     margin: 50px;
     font-size: 20px;
     padding: 35px;
     border-radius:15px;
 }
 #licoes_a_aprender{
     background-color: #00000009;
     display: inline-block; 
     margin: 15px;
     font-size: 20px;
     padding: 35px;
     border-radius:15px;
 }
 #rodape{
    background-color: chartreuse;
    display: block;
    margin-bottom: 0;
    padding: 35px;
    border-radius: 15px;
    text-align: center;
 }
 .nav{
   font-family: fantasy,sans-serif;
    color: white;
 }