body {
    background-color: rgb(253, 251, 251);
    margin: opx;
}

#cabecalho{
    position: fixed;
    z-index: 1;
    background-color: rgb(42, 46, 43);
    top: 0px;
    width: 100%;
    margin: 0%;
    height: 70px;
    border-bottom: rgb(253, 251, 251);
    
}

#titulo{
    margin-left: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: rgb(253, 251, 251);
    text-align: unset;

}

#nav{
    position: fixed;
    top: 70px;
    border-bottom: solid rgb(253, 251, 251);
    border-top: rgb(253, 251, 251);
    background-color: rgb(20, 48, 20);
    display: block;
    width: 100%;
    height: 40px;
    
    
}

#nav a{
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(253, 251, 251);
    margin-top: 6px;
    margin-left: 30px;
    
}

}
#nav a:hover{
    background-color: rgb(42, 46, 43);

}

#bg{
    background-image: url(./img/trajeto.jpeg);
    margin-top: 80px;
    background-position-y: -400px;
    background-position-x: -350px;
    height: 500px
   

}
#minha_foto{
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 44%;
    top: 40%;
   
}

article{
    width: 500px;
    position: absolute;
    top: 25%;
    left: 3%;
    padding: 10px;
    border: solid rgb(253, 251, 251);
}
#relato{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
    font-style: italic;
    color: rgb(253, 251, 251);
}
aside{
    width: 450px;
    border: solid rgb(253, 251, 251);
    padding: 10px;
    position: absolute;
    left: 60%;
    top: 57%;
}

aside p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
    font-style: italic;
    color: rgb(253, 251, 251);
}