p {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
}

#minha_foto {
    width: 150px;
    position: absolute;
    top: 70px;
    left: 20px; 
}

#licoes {
    position: absolute;
    top: 350px;
    left: 20px;
}

#licoes_aprendidas {
    position: absolute;
    top: 400px;
    left: 20px;
}

#licoes_a_aprender {
    position: absolute;
    top: 400px;
    left: 220px;
}

#rodape {
    position: absolute;
    top: 700px;
    left: 20px;
}

#link_externo {
    position: absolute;
    top: 700px;
    left: 20px;
}

#artigo {
    position: absolute;
    top: 700px;
    left: 20px;
    text-align: justify;
}

#relacionado {
    position: absolute;
    top: 70px;
    left: 700px;
    text-align: justify;
    width: 200px;
}
