body {
    background-color: rgb(253, 251, 251);
    margin: 30px;
    padding: 5px;
    border: 10px;
}

#cabecalho {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 140px;
    background-color: green;
    color: white;
    text-align: center;
}

#minha_foto {
    width: 200px;
    margin-top: 140px;
    margin-left: 10px;
    border-radius: 50px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
}

#licoes_aprendidas {
    font-family: sans-serif;
    margin-left: 10px;
    float: left;
}

#licoes_a_aprender {
    font-family: sans-serif;
    margin-left: 200px;
}

#rodape {
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    margin-top: 50px;
    margin-left: 30px;
}

#article {
    font-family: sans-serif;
    margin-top: 50px;
    margin-left: 30px;
    color: green;
    font-size: 18px;
    line-height: 24px;
}

#section {
    font-family: sans-serif;
    margin-top: 30px;
    margin-left: 30px;
    color: green;
    font-size: 18px;
    line-height: 24px;
}

#tabela {
    font-family: sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}