body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

#cabecalho {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: darkgreen;
  height: 100px;
}

#minha_foto {
  border-radius: 50%;
  margin-top: 10px;
  width: 200px;
}

#titulo {
  color: rgb(253, 251, 251);
  text-align: center;
}

main {
  margin-top: 100px;
  margin-bottom: 24px;
  padding: 10px;
}

#licoes_aprendidas {
  display: inline-block;
  font-size: 18pt;
}

#licoes_a_aprender {
  display: inline-block;
  font-size: 18pt;
}

#rodape {
  position: absolute;
  background-color: darkgreen;
  right: 0;
  left: 0;
  text-align: center;
  color: white;
}

a {
  display: block;
  margin-left: 50px;
}

.estilo_fonte {
  text-align: justify;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 48px;
}

aside {
  background-color: gold;
}

.lado_direito {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-left: 30px;
}

.lado_esquerdo {
  display: inline-block;
  width: 60%;
}
