
body {
    background-color: rgb(253, 251, 251);
}

h1 {
    text-align: left;
    position: fixed;
    left: 20px;
}

header {
    height: 90px;
}

li, p {
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
    position: fixed;
    top: 0;
    left: 1%;
    background-color: lavender;
    width: 100%;
    border-radius: 6px;
}

#titulo {
    font-family: Arial, Helvetica, sans-serif;
    position
}

#minha_foto {
    border-radius: 50%;
    position: fixed;
    top: 100px;
    left: 1%;
    width: 200px;
}

#licoes_aprendidas {
    position: absolute;
    top: 300px;
    left: 230px;
}

#licoes_a_aprender {
    position: absolute;
    top: 300px;
    left: 490px;
}

.links_estudos {
    font-size: 12px;
    text-align: left;
    position: fixed;
    left: 11px;
    top: 310px;
    width: 165px;
    background-color: lavender;
    padding: 10px;
    border-style: solid;
    border-color: lavender;
    border-width: 7px;
    border-radius: 6px;
}

.article {
    position: relative;
    left: 220px;
    top: 100px;
    width: 70%;
    height: 300px;
    overflow: auto;
}

.aside {
    position: relative;
    left: 220px;
    top: 350px;
    width: 70%;
}
