body {
  background-color: rgb(253, 251, 251);
  color: rgb(41, 38, 38);
  font-size: 18px;
}

#cabecalho {
  top: 0;
  position: fixed;
  background-color: whitesmoke;
  font-style: normal;
  font-family: Georgia, Times, serif;
  text-align: center;
}

h1 {
  padding: 10px 380px 10px 400px;
  background-color: rgb(165, 110, 29);
  color: whitesmoke;
}

h2 {
  margin-top: 10px;
  margin-left: 70px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: sans-serif;
  clear: both;
  color: rgb(17, 16, 16);
  text-align: center;
}

#minha_foto {
  position: relative;
  margin-left: 100px;
  padding: 1px;
  background-color: rgb(165, 110, 29);
  border-radius: 50%;
}

#nav {
  background-color: whitesmoke;
  font-style: none;
  text-align: center;
  position: fixed;
  top: 90px;
  padding-left: 449px;
  padding-right: 445px;
}

#nav li {
  display: inline-block;
  font-size: 17px;
  padding: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
}

#nav a {
  color: rgb(127, 131, 73);
  text-decoration: none;
}

#licoes_aprendidas {
  float: left;
  margin: 2% 50% 2% 25%;
}

#licoes_a_aprender {
  float: right;
  margin: -19% 20% 2%;
}

table {
  padding: 10px;
  color: rgb(32, 32, 32);
  border: 10px;
  margin: 200px 1px 30px 450px;
  border-bottom: 1px solid rgb(127, 131, 73);
}

th {
  padding: 5px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(17, 16, 16);
  background-color: rgb(127, 131, 73);
}

td {
  padding: 5px;
}

.lado-esquerdo {
  float: left;
  margin: 0% 50% 2% 6%;
  text-align: justify;
  font-family: cursive;
  line-height: 22px;
}

.lado-direito {
  float: right;
  margin: -17% 10% 2% 60%;
  padding: 30px;
  text-align: justify;
  background-color: rgb(127, 131, 73);
  color: whitesmoke;
  font-weight: 300;
}

#rodape {
  text-align: center;
  background-color: rgb(165, 110, 29);
  color: whitesmoke;
  padding: 8px;
}
