body {
    background-color: rgb(253, 251, 251);
}

header {
    text-align: center;
    position: fixed;
    top: 0;
}


img {
    width: 100px;
}

article p, aside p {
    margin: 2em;
    padding: 1em;
    border: solid 1px black;
    line-height: 2em;
}

article, aside {
    display: inline-block;
    width: 30%;
}

table {
    margin: 2em;
}

td {
    padding: .5em;
    text-align: center;
}

tr:first-child {
    background-color: lightgray;
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: red;
}

