body {
    background-color: rgb(253, 251, 251);
}
#minha_foto {
    width: 300px;
    margin-top: 300px;
    }
#cabecalho li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}
#titulo {
    font-size: 60px;
    font-family: sans-serif;
    color: #29302f;
    text-align: center;
}
p {
    line-height: 23px;
}
#cabecalho {
    min-height: 100px;
    position: fixed;
    top: 0;
    background-color: #FF9F1C;
    margin: 0px;
    width: 100%;
    padding: 20px;
    border: 10px;
}
.lado-esquerdo {
    float: left;
    max-width: 30%;
    padding: 35px;
}
.lado-direito {
    float: right;
    max-width: 30%;
    padding: 35px;
}
a {
    display: block;
    text-decoration: none;
    color: currentColor;
    font-size: 53px;
    font-family: sans-serif;
}