* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

main {
    display: grid;
    grid-template-rows: ;
    grid-template-areas: "navegacao navegacao navegacao" "cabecalho cabecalho cabecalho" "conteudo conteudo lateral" "lista1 lista2 video" "rodape rodape rodape";
}

/*Navegação*/

.navegacao {
    grid-area: navegacao;
    background-color: orange;
    position: fixed;
    width: 100%;
    border-bottom: 10px solid rgb(94, 11, 80);
}

.listanav {
    width: 900px;
    margin: auto;
    text-align: center;
}

.listanav li {
    display: inline-block;
    margin: 20px;
    /*Usei margin para deixar o menu no centro da div, mas está correto?*/
}

.listanav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}

.listanav a:hover {
    background-color: aquamarine;
}

/*Cabeçalho*/

.cabecalho {
    grid-area: cabecalho;
    background-image: url(/images/marcus.jpeg);
    background-size: cover;
    width: 100%;
    padding-top: 100px;
    height: 500px;
}

.titulo {
    color: white;
    font-size: 30px;
    text-align: center;
    font-size: 50px;
    /*Como colocar o texto no centro da div?*/
}

/*Conteúdo em parágrafos*/

.conteudo {
    grid-area: conteudo;
    background-color: orchid;
}

.paragraph {
    margin: 30px;
    line-height: 2em;
}

.lateral {
    grid-area: lateral;
    background-color: rgb(25, 0, 255);
}

/*Listas*/

.lista1 {
    grid-area: lista1;
    background-color: rgb(251, 216, 152);
}

.lista2 {
    grid-area: lista2;
    background-color: rgb(152, 239, 251);
}

.video {
    grid-area: video;
    background-color: rgb(255, 8, 0);
}

.rodape {
    grid-area: rodape;
    background-color: rgb(94, 11, 80);
}


/*{


    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 251, 251);
    font-family: sans-serif;
}



#titulo {
    color: white;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cabecalho {
    top: 0;
    position: fixed;
    background-color: #458202;
    width: 100%;
    text-align: center;
    
}

#navegacao a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    margin: 20px;
    font-weight: bolder;
}

#navegacao a:hover {
    color: rgb(16, 83, 13);
    font-weight: bolder;
}


#horizon {
    background-color: wheat;
    padding-top: 200px;
    width: 900px;
    margin: auto;
}

#minha_foto {
    width: 240px;
    border-radius: 30px;
    margin-top: 50px;
}

#artigo p {
    text-align: justify;
}

#artigo {
    width: 300px;
    display: inline-block;
    background-color: tomato;
}

#breve_artigo p {
    text-align: justify;
}

#breve_artigo {
    width: 230px;
    background-color: teal;
    display: inline-block;
    position: relative;
    left: 352px;
    bottom: 130px;
}

#licoes_aprendidas {

}

#licoes_a_aprender {

}

#rodape {
    background-color: aqua;
}*/