body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    position: fixed;
    background-color: whitesmoke;
}

h1 {
    padding: 10px 400px 10px 443px;
    background-color:rgb(165, 110, 29);
    color: whitesmoke;
}

#minha_foto {
    margin-top: 150px;
}

#nav{
    background-color: whitesmoke;
    font-style: none;
    text-align: center;
    position: fixed;
    top: 90px;
    padding-left: 449px;
    padding-right: 445px;
}

#nav li {
    display: inline-block;
    font-size: 17px;
    padding: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#nav a{
    color: rgb(165, 110, 29);
    text-decoration: none;
}

#tablecurso {
    padding: 10px;
    color: rgb(32, 32, 32);
}

th {
    padding: 5px;
    text-transform:uppercase;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(17, 16, 16);
    background-color: rgb(127, 131, 73);
}

td {
    padding: 5px;
}
