body {
background-color: rgb(253, 251, 251)
}
#cabecalho {
    top: 0;
    position:fixed;
    background-color: blue;
    height: 4vh;

}

article {
    word-wrap: break-word;
    width: 1000px;
 }
 
aside {
    height: 35vh;
    width: 10vh;
 }