body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: 'Roboto';
  letter-spacing: 1px;
  font-size: 16px;
}

h1 {
  font-family: 'Roboto',

    Medium 500 italic;
  font-weight: 600;
}

#cabecalho {
  background-color: #036b52;
  color: aliceblue;
  text-align: center;
  padding: 20px;
  margin: 0px;
  position: fixed;
  width: 1300px;
  top: 0;

}

#minha_foto {
  margin-top: 150px;
  padding: 10px;
  border-radius: 50%;
  width: 20%;
}

table {


  border-collapse: collapse;
  border: 1px solid #455;
  display: inline-block;
  width: 50%;
  text-align: justify;
  margin: auto;


}

#quem-sou {
  background-color: #455;
}

#sobre {
  position: relative;
  width: 100%;
  text-align: justify;
  float: right;
  font-size: 17px;
  color: #036b52;
  font-family: Georgia, 'Times New Roman', Times, serif;

  line-height: 20px;

}


#licoes_aprendidas {
  list-style: decimal;
  border-radius: 4px;


}

#licoes_a_aprender {
  list-style: circle;
  border-radius: 4px;


}




.contacts {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

article {

  display: inline-block;
  width: 50%;
  text-align: justify;
  margin: auto;





}
