body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    padding: 20px 10px;
    background-color: #282a36;
}

#titulo {
    display: inline-block;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: #bd93f9;
}

#titulo:hover {
    color: #50fa7b;
}

.navigation ul {
    margin: 0;
    padding-left: 0;
    text-align: right;
}

.navigation ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav_items {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #f8f8f2;
}

.nav_items:hover {
    color: #bd93f9;
    border-bottom: 4px solid #bd93f9;
    margin-bottom: -4px;
}

.button {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #bd93f9;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #f8f8f2;
}

.button:hover {
    background-color: #50fa7b;
}

.content {
    background-color: #44475a;
    color: #f8f8f2;
}

.section_image {
    padding: 20px;
    max-width: 1200px;
    text-align: center;
    margin: 120px auto 0;
}

.texto_imagem {
    display: inline-block;
    width: 30%;
    margin-right: 10%;
}

.titulo_imagem {
    font-size: 60px;
    color: #bd93f9;
}

.subtitulo_imagem {
    font-size: 30px;
}

.subtitulo_imagem a {
    text-decoration: none;
    color: #50fa7b;
}

.paragrafo_imagem {
    font-size: 20px;
}

.imagem {
    width: 20%;
    border-radius: 4px;
    box-shadow: 10px 10px 0 #f8f8f2;
}