body{
    background-color: rgb(253, 251, 251);
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 19px;
    color: rgb(22, 53, 53);
}

#cabecalho{
    width: 100%;
    top: 0;
    position: fixed;
    background-color: rgb(65, 189, 137);
    overflow: hidden;
}

#cabecalho h1{
    text-align: center;
}

main{
    overflow: hidden;
    margin-top: 120px;
    width: 70%;
}

.flex-container{
    display: flex;
}


.articles{
    display: inline-block;
    border: solid black;
    margin-top: 20px;
    margin-left: 20px;
}

.lado-esquerdo{
    float: left;
    width: 40%;
    padding-right: 40px;
}



#minha_foto{
    width: 20%;
    float: left;
    border-radius: 50%;
    padding-right: 15px;
}

#sobre-matheus{
    text-align: left;
}


#sobre-matheus{
    text-align: left;
    display: inline-block;
    width: 40%;
}


#right{
    margin-top: 120px;
    margin-left: 100px;
}

ul, ol, li{
    border: 1px solid black;
}

.container-nav{
    display: flex;
    align-content: center;

}

#linkedin{
    width: 150px;
}

#linkedin:hover{
    transform: scale(1.1);
}

#contato{
    display: inline-block;
    width: 50%;
    padding-left: 10px;
    height: 70px;
}

#rodape{
    text-align: center;
    background-color: rgb(96, 228, 195);
    margin-top: 30px;
}

table, th, td {
    border: 1px solid black;
}