body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  border-radius: 50%;
  border: 10px;
  padding: 60px 0 0 0;
  margin: 5px;
}

.skills {
  margin: 0 20% 0 20%
}

.p_article {
  font-size: 6mm;
}
