body {
  background-color: rgb(253, 251, 251);
  margin: auto;

}

#cabecalho {
  background-color: #036b52;
  color: aliceblue;
  text-align: center;
  padding: 20px;
  margin-top: 0 px;

}

#minha_foto {
  padding: 10px;
}

#licoes_aprendidas {
  list-style: decimal;

}

#licoes_a_aprender {
  list-style: circle;
}
