body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  background-color: green;
  margin: auto;
}

.headerSection {
  color: white;
  line-height: 5px;
  font-size: 20px;
  text-align: center;
}

.foto {
  width: 470px;
  padding: 100px 50px 10px 40px;
  margin: auto;
  border: 10px;
}

.primeiroBloco {
  width: 60%;
  padding: 10px 20px 20px 10px;
  margin: auto;
}

.itemBloco {
  width: 30%;/* w3schools.com/howto/howto_css_images_side_by_side.asp */
  text-align: center;
  margin: 100px;
  display: inline-block;
}

.sideBySide {
  width: 50%;
  text-align: center;
  padding: 5px 20px 20px;
  margin: auto;
  display: table;
}

.lado-esquerdo {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.lado-direito {
  float: right;
  width: 33.33%;
  padding: 5px;
}

footer {
  width: 100%;
  background-color: green;
  margin: auto;
}

#pe {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
  line-height: 30px;
}

table {
  text-align: center;
  width: 200px;
  padding: 20px 10px;
  margin: auto;
}

h2 , h3 {
  color: green;
  margin-top: 10px;
  margin-bottom: 20px;
}
