body{
 
    background-color: rgb(253, 251, 251);
    
}

#cabecalho{
    
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: green;
    text-align: center;
    padding: 0px;
    margin: 0px;
    
    
}
#titulo{
    
    color: white;
    height: 100px;
    margin: 0px;
    
}

.links{
    
    background-color: green;
}

.links ul{
    
    background-color: green;
    margin: 0px;
    height: 50px;
}

.links li{
    
    background-color: green;
    color: white;
    list-style: none;
    font-size: 20px;
}


#minha_foto{
    
    padding-top: 15px;
    padding-left: 10px;
}

a{
   display: block;
   padding-left: 10px;
}

#licoes{
    padding: 20px;
}

#licoes_a_aprender{
    position: absolute;
    left: 200px;
    bottom: 85px;
}

article{
    width: 40%;
    display: inline-block;
    
}

aside{
    float: right;
    width: 40%;

}

#rodape{
    padding-top: 20px;
}

#links{
    display: inline;
}

