body {
    background-color: rgb(253, 251, 251);
    font-family: trebuchet MS, sans-serif;
    font-size: large;
    text-decoration: none;
    text-align: center;
}

#cabecalho {
    position: fixed;
    top: 0%;
    background-color:white;
    width: 100%;
    right: 0;
    left: 0;
    padding: auto;
    height: 70px;
}

#titulo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 100;
    font-size: 500;
    color: green;
    line-height: 40px;
}

h3 {
    color: green;
    font-style: normal;
}

#minha_foto {
    border-radius: 50%;
    width: 250px;
    display: block;
    top: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    z-index: 0;
    padding-top: auto
}

#artigo {
    margin-left:auto;
    margin-right: auto;
    width: 900px;
    font-style: italic;
}


#listas{
    
}
#lista_ordenada {
    font-family: monospace;
    font-style: italic;
    line-height: auto;
    width: 300px;
    background-color: aquamarine;
    display: block;
    text-align: justify;
}

#lista_desordenada {
    font-family: monospace;
    font-style: italic;
    line-height: auto;
    width: 300px;
    display: block;
    text-align: justify
}

#rodape {

}

#navegacao {
    position: fixed;
    background-color: brown;
}

#links {
    text-decoration: none;
    color: darkgreen;
}

li:active {
    color: white
}

li:hover {
    color: green;
}