body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: green;
  color: white;
}

#titulo {
  text-align: center;
}

nav ul li {
  list-style-type: none;
}

#minha_foto {
  width: 300px;
  margin-top: 120px;
  margin-left: -45px;
}

#leg-foto {
  margin-left: -45px;
}

#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  width: 80%;
  float: right;
}

section h2 {
  margin-top: 70px;
  margin-bottom: 30px;
}

article p {
  width: 50%;
  margin-bottom: 40px;
}

aside p {
  width: 40%;
  margin-bottom: 60px;
}