* {
    margin: 0;
}

body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    position: fixed;
    background-color: antiquewhite;
    
}

#minha_foto {
    width: 200px;
}

#licoes_aprendidas {

}

#licoes_a_aprender {
    
}