body {
  background-color: rgb(253, 251, 251);
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  margin-left: 0;
  margin-right: 0;
}

#cabecalho {
  background-color: rgb(76, 228, 76);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}


#titulo {
  text-align: center;
  font-size: 2.5em;
  text-decoration: none;
}
#link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.767);
}
.menu-navegacao {
  text-align: center;
  list-style-type: none;
}

.menu-navegacao a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.767);
  font-weight: bolder;
  font-size: 1.5em;
}

a:hover {
  color: rgb(1, 12, 1);
}

#link:hover {
  color: rgb(1, 12, 1);
}

#sobre-mim {
  height: 100vh;
  background-color: rgb(45, 49, 66);
  
  
}

#minha_foto {
  margin-top: 8%;
  display: block;
  width: 25%;
  transform: translateX(-50%);
  margin-left: 50%;  
  border-radius: 30%;
}

#sobre-mim-texto {
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
}

#seta-down {
  color: rgb(255, 255, 255);
  margin-left: 50%;
  font-size: 40px;
}

#seta-down:hover {
  color: rgb(0, 0, 0);
}

#licoes {
  
  background-color: rgb(177, 224, 177);
  height: 100vh;
  padding-top: 10px;
  margin: 0;
 
}

#titulo-licoes{
    font-size: 40px;
    text-align: center;
    margin-left: 48px;
}

#aprendidas{
display: inline-block;
margin-left: 27%;

}

#licoes_aprendidas {
  font-size: 25px;
  text-align: left;
}

#aprender{
    display: inline-block;
    margin-left: 20%;
}


#licoes_a_aprender {
  direction: rtl;
  font-size: 25px;
  text-align: right;
}
