body {
    background-color:rgb(253, 251, 251);
}

header{
    text-align: center;
    top:0;
    position:fixed;
    background-color: rgb(255,188,181) ;
    width: 100%
}

#minha_foto{
    width: 200 px;
    height: 200px;
    top: 20%;
    position: absolute;
    border-radius: 20%;
}

#licoes_aprendidas{
    position: absolute;
    top: 50%;
}

#licoes_a_aprender{
    position: absolute;
    top: 80%;

}

footer{ 
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    background-color:rgb(255,188,181) ;
    position:absolute;
    width: 100%;
    height:10%;
    top: 130%;

}

#minhaexp{
    top: 110%;
    position: absolute;
}

#sidebar{
    width:30%;
    top: 70%;
    left: 68%;
    background-color: rgb(255,188,181);
    display:block;
    position: absolute;
    text-align: center;
}

.ambaslistas{
    display:inline-block;
}