body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  position: fixed;
}

.image-container {
  margin-top: 80px;
}

.image-container img {
  width: 200px;
  height: 200px;
}

.list-container {
  display: flex;
  width: 800px;
}

#licoes_aprendidas {
  width: 20%;
}

#licoes_a_aprender {
  width: 20%;
}

.tabela table, th, td{
  border: 1px solid #555555;
  border-collapse: collapse;
  width: 300px;
}

.tabela th, td {
  text-align: center;
}

#rodape p {
  text-align: center;
}

.article_container {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.aprendizado {
  width: 500px;
  text-align: center;
}

.aprendizado_aside {
  width: 300px;
  margin-left: 100px;
}
