    body {
        background-color: rgb(253, 251, 251);
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        text-align: center;
    }

    #minha_foto {
        width: 200px;
    }