/*  - Adiciona a cor específica ao fundo do documento
    - Especifica uma fonte para o documento*/
body {
    background-color: rgb(253,251,251);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Fixa o cabeçalho no topo da página */
#cabecalho {
    top: 0;
    position: fixed;
}


