#fundo {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    width: 900px;
    background-color: rgb(253, 251, 251);
    z-index: 3;
}

#minha_foto {
    width: 150px;
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: rgb(253, 251, 251);
    z-index: 1;
}

#licoes {
    position: absolute;
    top: 350px;
    left: 20px;
    background-color: rgb(253, 251, 251);
}

#licoes_aprendidas {
    position: absolute;
    top: 400px;
    left: 20px;
    background-color: rgb(253, 251, 251);
}

#licoes_a_aprender {
    position: absolute;
    top: 400px;
    left: 220px;
    background-color: rgb(253, 251, 251);
}

#rodape {
    position: absolute;
    top: 700px;
    left: 20px;
    background-color: rgb(253, 251, 251);
}

#link_externo {
    position: absolute;
    top: 700px;
    left: 20px;
    background-color: rgb(253, 251, 251);
}

#artigo {
    position: absolute;
    top: 700px;
    left: 20px;
    text-align: justify;
    width: 500px;
    background-color: rgb(253, 251, 251);
}

#relacionado {
    position: absolute;
    top: 100px;
    left: 700px;
    text-align: justify;
    width: 200px;
    background-color: rgb(253, 251, 251);
    z-index: 2;
}

#tabela {
    position: absolute;
    top: 900px;
    left: 20px;
    text-align: justify;
    width: 400px;
    background-color: rgb(253, 251, 251);
    z-index: 2;
}