body {
  background-color: rgb(253, 251, 251);
  font-family: sans-serif;
  padding: 2px;
}

h1 {
  font: bold 30pt Arial;
}

#cabecalho {
  position: fixed;
  text-align: center;
  background-color: green;
  width: 100%;
  height: 100px;
  color: whitesmoke;
}

main {
  padding: 10px;
}

#minha_foto {
  display: block;
  margin-bottom: 40px;
  margin-top: 100px;
}

table {
  display: inline;
}

.listas {
  line-height: 25px;
  display: inline-block;
  border: 2px solid gray;
}

.lado-esquerdo {
  display: inline-block;
  border: 2px solid gray;
}

.lado-direito {
  display: inline-block;
  border: 2px solid gray;
}

#passagem {
  width: 200px;
}

#aprendizado {
  width: 300px;
}
