body {
    background-color: rgb(253, 251, 251);
}
.cabecalho {
    position: fixed;
    top: 0;
    background-color: rgb(0, 128, 0);
    padding: 5px 463px;
}
.titulo {
    text-align: center;
    color: rgb(250, 250, 250);
    text-align: center;
}
.minha_foto {
    position: absolute;
    width: 200px;
    border-radius: 30px;
    top: 150px;
    left: 25px;
}