body{
    background-color: rgb(253, 251, 251);
    margin-left: 0;
    margin-bottom: 0;
    font-family: roboto, sans-serif;
    font-weight: 100;
}

#cabecalho {
    position: fixed;
    top: 0;
    background-color: #036b52;
    color: #fff;
    width:100%;
    padding-left: 70px;
    margin-bottom: 0px;
    border-bottom: 3px solid #fff;
}

span {
    text-decoration: line-through;
}

nav {
    background-color: #2fc18c;
    position: fixed;
    width: 100%;
    height: 30px;
    margin-top: 75px;
    padding-bottom: 5px;
}

.barraNav {
    display: inline-block;
    color:#fff;
    margin-left: 35px;
    margin-top: 6px;
    font-size: 20px;
    font-weight: bold;
}

ul {
    margin:0;
}

#minha_foto{
    border-radius: 50%;
    float: left;
}

.liçoes {
    display: inline-block;
    margin: 150px 180px 30px;
    font-size: 20px;
}

.title-liçoes{
    margin-left: 80px;
}

li {
    padding-bottom: 10px;
}

h1 {
    font-weight: 900;
}

h2 {
    margin-top: 0;
    text-align: center;
    padding: 30px 15px;
    font-weight: 500;
}

.tituloaside{
    font-weight: 500;
    margin-bottom: 50px;
}

.lado-esquerdo{
    margin-top: 0;
    background-color:#0fa36b;
    padding: 80px 70px 100px;
    width: 760px;
    display: inline-block;
    margin-bottom: 0;
}

.aprendizado{
    font-size: 20px;
}

.lado-direito {
    text-align: center;
    display: inline-block;
    font-size: 20px;
    width: 400px;
    margin-bottom: 0;
}

.inutilidades {
    margin-top: 0;
    width: cover;
    height: 500px;
}

.info-inuteis {
    margin-top: 0;
    font-size: 30px;
    text-align: right;
    margin-right: 500px;
    padding-top: 100px;
}

table{
    float: right;
    font-size: 20px;
    margin-right: 200px; 
    border-collapse: separate;
    border-spacing: 20px 15px;

}

img {
    float: left;
    border-radius: 25px;
    border: #0fa36b 5px solid;
    margin-top: 100px;
    margin-left: 90px;
}

footer {
    color: #999;
    height: 40px;
    background-color: #525252;
    text-align: center;
    padding-top: 20px;
}