body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    position: fixed;
    top: 0;
    border: solid 1px rgb(123, 182, 123);
    width: 100%;
    background-color: rgb(123, 182, 123);
}

#navegacao ul{
    list-style: none;
}
#navegacao li{
    display: inline-block;
    padding: 0px 30px;
    border: solid;
}

#titulo{
    text-align: center;
}

#minha_foto{
    width: 150px;
    margin-top: 150px;
}

#licoes_aprendidas{
    display: inline-block;
    margin: 30px;
}

#licoes_a_aprender{
    display: inline-block;
    margin: 30px;
}

article p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(37, 0, 0);
    line-height: 1.5em;
}