body {
    background-color: rgb(253, 251, 251);
}
#minha_foto {
    width: 300px;
    margin-top: 200px;
    }
#cabecalho li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}
#titulo {
    
}
#cabecalho {
    min-height: 100px;
    position: fixed;
    top: 0;
    background-color: #FF9F1C;
    margin: 0px;
    width: 100%;
    padding: 20px;
    border: 10px;
}