
body{
    background-color: rgb(253, 251, 251);
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    margin-left: 0;
    margin-right: 0;
}

#cabecalho{
    background-color:rgb(76, 228, 76) ;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    
    
}

#titulo{
    text-align: center;
    font-size: 2.5em;
    text-decoration: none;
}

#link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.767);
}

.menu-navegacao a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.767) ;
    font-weight: bolder;
}
