body {
  background-color: rgb(253, 251, 251);
  width: 1366;
  height: 768;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: lightblue;
  margin-left: 410px;
}

#titulo {
  font-size: medium;
  font-family: cursive;
  text-align: center;
  color: blue; 
}

.navegacao {
  font-size: x-small;
}

#minha_foto {
  position: absolute;
  width: 80px;
  margin-top: 5px;
  margin-left: 450px;
  border-radius: 20%;
  top: 200px;
  padding: 10px;
  background-color: blueviolet;
}

.link {
  font-size: x-small;
  position: absolute;
  top: 350px;
  left: 450px;
}

#licoes_aprendidas {
  font-size: small;
  margin-left: 100px;
  top: 185px;
  border: solid;
  border-width: medium;
  border-color: lightseagreen;
  display: inline-block;
  position: absolute;
}

#sub_titulo {
  position: absolute;
  font-size: large;
  text-align: center;
  font-style: oblique;
  color: purple;
  left: 362px;
  top: 100px;
}

#licoes_a_aprender {
  position: absolute;
  font-size: small;
  margin-left: 250px;
  top: 180px;
  right: 150px;
  border: solid 1px;
  border-color: lightseagreen;
  border-width: medium;
  list-style-type: square;
  display: inline-block;
}

.lado-esquerdo {
  position: absolute;
  display: inline-block;
  margin-right: 40px;
  font-size: x-small;
  padding-bottom: 10px;
  margin-top: 300px;
  right: 370px;
  top: 200px;
  border: solid;
  border-width: thin;
  border-color: blue;
  line-height: 20px;
}

.lado-direito {
  position: absolute;
  display: block;
  margin-left: 650px;
  margin-right: 20px;
  font-size: x-small;
  margin-top: 80px;
  border: solid;
  border-width: thin;
  border-color: blue;
  line-height: 20px;
  top: 425px;
  left: 5px;
}

aside {
  width: 30%;
  font-style: italic;
  color: black;
}

#barra_rolagem {
  overflow: visible;
}

#rodape {
  position: absolute;
  font-size: x-small;
  margin-top: 250px;
  bottom: 10px;
}

#tabela {
  table-layout: auto;
  border: solid;
  border-color: coral;
  position: absolute;
  top: 20px;
  right: 610px;
}
