@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: rgb(253, 251, 251);
  border-bottom: 1px solid #132623;
  z-index: 999;
}

main {
  position: absolute;
  top: 75px;
  text-align: center;
}

#minha_foto {
  border-radius: 50%;
  border: 3px solid #5e8c5d;
  width: 300px;
}

main a {
  color: black;
  text-decoration: none;
  background-color: #5e8c5d;
  padding: 10px 20px;
}

#lists {
  background-color: teal;
}

#listLeft {
  display: inline-block;
  background-color: tomato;
  vertical-align: middle;
  margin: 0px 15px;
  padding: 15px;
  border-radius: 10px;
}

#listRight {
  display: inline-block;
  background-color: violet;
  vertical-align: middle;
  margin: 0px 15px;
  padding: 15px;
  border-radius: 10px;
}