body {
  font-family: serif;
  font-size: 20px;
  line-height: 35px;
  background-color: rgb(253, 251, 251);
  width: 1366px;
  height: 768px;
}

#footer {
  padding: 500px;
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  border-radius: 50%;
  border: 10px;
  padding: 60px 0 0;
}

.skills {
  margin: 0 20%;
}

.skills li {
  line-height: 0.9em;
}

#titulo {
  color: rgb(42, 168, 74);
}

.p_article {
  font-size: 0.8em;
  line-height: 1em;
}

.lado-direito {
  display: inline-block;
  text-align: right;
}

.lado-esquerdo {
  display: inline-block;
  text-align: left;
}

section article {
  height: 100px;
  width: 40%;
}

section aside {
  height: 100px;
  width: 50%;
}
