body{
    background-color: rgb(253, 251, 251);
    border: 0;
    margin: 0;
}

#cabecalho{
    width: 100%;
    top: 0;
    position: fixed;
    background-color: rgb(65, 189, 137);
    overflow: hidden;
}

#cabecalho h1{
    text-align: center;
}

main{
    overflow: hidden;
    margin-top: 120px;
    width: 70%;
}

#minha_foto{
    width: 20%;
    float: left;
    border-radius: 50%;
    padding-right: 15px;
}

#sobre-matheus{
    text-align: left;
}

.flex-container{
    display: flex;
}
#lado-direito{
    margin-top: 100px;
}

#lado-esquerdo{
    width: 70%;
    padding-left: 10px;
}

#sobre-matheus{
    text-align: left;
    display: inline-block;
    width: 40%;
}

.articles{
    display: block;
    width: 80%;
}


#sobre-aprendizado a{
    text-decoration: none;
    color: rgb(54, 123, 228);
}

#sobre-aprendizado a:hover{
    color: darkblue;
}


.container-nav{
    display: flex;
    align-content: center;

}

#linkedin{
    width: 150px;
}

#linkedin:hover{
    transform: scale(1.1);
}

#contato{
    display: inline-block;
    width: 50%;
    padding-left: 10px;
    height: 70px;
}

#rodape{
    text-align: center;
    background-color: rgb(96, 228, 195);
    margin-top: 30px;
}