body {
  background-color: rgb(253, 251, 251);
  padding-top: 135px;
  margin: 0px;
}

#cabecalho {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: rgb(184, 182, 182);
  box-shadow: 0px 3px 8px rgb(51, 51, 51);
}

#cabecalho {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 25px;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

img {
  max-width: 100%;
}

.img_principal {
  width: 450px;
  margin: 20px auto;
}

#minha_foto {
  width: 450px;
  margin: auto;
}

#licoes_aprendidas,
#licoes_a_aprender {
  display: inline-block;
}

article {
  margin: 10px;
  padding: 25px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  font-size: 14px;
  line-height: 17px;
}

table {
  border: 1px solid rgb(51, 51, 51);
}

.lado-esquerdo {
  width: 875px;
  display: inline-block;
  background-color: rgb(186, 187, 199);
  padding: 30px;
}

.lado-direito {
  width: 344px;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  background-color: rgb(186, 187, 199);
}

.tabela_informacoes,
#licoes_aprendidas,
#licoes_a_aprender {
  margin-left: 35px;
}

.tabela_informacoes {
  border-collapse: collapse;
  border: 1px solid rgb(0, 0, 0);
}

.tabela_informacoes tr td {
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  padding: 7px 14px;
}
