body {
  background-color: rgb(253, 251, 251);
  font-family: monospace, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: green;
  color: white;
}

#titulo {
  text-align: center;
}

nav ul li {
  list-style-type: none;
}

#minha_foto {
  width: 300px;
  margin-top: 120px;
  margin-left: -45px;
  border-radius: 50%;
}

#leg-foto {
  margin-left: 2.5%;
}

#licoes_aprendidas {
  display: inline-block;
  width: 20%;
}

#licoes_a_aprender {
  display: inline-block;
  width: 70%;
  float: right;
}

section h2 {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 30px;
}

article p {
  width: 50%;
  margin-bottom: 40px;
}

article h3 {
  font-size: 30px;
}

aside p {
  width: 40%;
  margin-bottom: 60px;
  border: 10px;
}

.lado-esquerdo {
  float: left;
}

.lado-direito {
  float: right;
}

#rodape {
  margin-top: 300px;
  padding-top: 10px;
  border: 10px;
}
