* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Montserrat, sans-serif;
}

li {
  display: inline-block;
  padding: 0 20px;
  
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  background-size: cover;
  background-image: url(images/capalinkedin.png);
  background-position: 0 20%;
  height: 70px;
  line-height: 70px;
  color: white;
}

#navigation_bar {
  margin-top: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
}

.presentation {
  width: 100%;
  height: 300px;
  position: relative;
}
#presentation2 {
  position: relative;
  max-width: 50%;
  left: 40%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #475550;
}

#minha_foto {
  width: 250px;
  position: relative;
  border-radius: 50%;
  border: 5px solid #026B52;
  left: 15%;
  bottom: 10%;
}

#table {
  background-color: #F0F2F5;
  height: 500px;
  position: relative;
}

.tg  {
  border-collapse:collapse;
  border-color:#bbb;
  border-spacing:0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
}

.tg td {
  background-color:#E0FFEB;border-color:#bbb;border-style:solid;border-width:0px;
  color:#594F4F;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;
}
.tg th {
  background-color:#9DE0AD;border-color:#bbb;border-style:solid;border-width:0px;
  color:#493F3F;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;
}

.tg .tg-rebb {
  border-color:inherit;font-family:Verdana, Geneva, sans-serif !important;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.tg .tg-1av6 {
  border-color:inherit;font-family:Verdana, Geneva, sans-serif !important;text-align:center;text-decoration:underline;
  vertical-align:top;
}

.tg .tg-jzjz {
  font-family:Verdana, Geneva, sans-serif !important;text-align:center;vertical-align:top
}

.tg .tg-ix6g {
  border-color:inherit;font-family:Verdana, Geneva, sans-serif !important;text-align:center;vertical-align:top
}

#licoes_aprendidas {
  font-size: 18px;
}

#p {
  color: orange;
  line-height: 50px;
}

#licoes_a_aprender {
  font-size: 20px;
}

.lado-esquerdo {
  display: inline-block;
  width: 49%;
}

.lado-direito {
  display: inline-block;
  width: 50%;
}

