/*  
- Adiciona a cor específica ao fundo do documento
- Especifica uma fonte para o documento
*/
body {
    background-color: rgb(253,251,251);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    margin: 0;
    padding-top: 1vw;
}

/* 
Fixa o cabeçalho no topo da página e define largura para toda a tela.
Source: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
#cabecalho {
    top: 0;
    left: 5vw;
    position: fixed;
    width: 90vw;
    background-color: #f1faeeff;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 0 1vw 1vw;
    box-shadow: 0 3px 5px black;
}

#titulo {
    font-size: 1.5rem;
    margin: .5vw 0 .5vw 0;
    color: #1d3557ff;
}

.nav {
    font-size: 1.5rem;
    color: #1d3557ff;
}

/*
Source: https://www.w3schools.com/cssref/sel_visited.asp
 */
.home:hover {
    color: #457b9dff;
    text-shadow: 1px 1px 2px black;
    font-size: 101%;
}

.nav a:visited {
    color: #1d3557ff;
}

.perfil {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 10vh;
}

#minha_foto {
    border-radius: 50%;
    max-width: 20vw;
    min-width: 130px;
}

.perfil h2 {
    font-size: 2rem;
    color: #1d3557ff;
    text-shadow: 1px 1px 5px black;
}







/* 
Paleta de cores
#e63946ff
#f1faeeff
#a8dadcff
#457b9dff
#1d3557ff
 */