body {
    background-color: rgb(253, 251, 251);    
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(95, 88, 88);
    width: 100%;
    height: 80px;
}

.header h1 {
    text-align: center;
    color: white;
}

.secao-foto {
    text-align: center;    
}

.profile {
    width: 250px;    
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 50px;
    background-color: rgb(95, 88, 88);
    padding: 3px;    
}

.list-section {
    text-align: center; 
    margin-top: 50px;
}

.list {
    line-height: 30px;    
    display: inline-block;
    padding: 20px;
}
.list li {
    text-align: left;
}

.footer {
    position: fixed;
    background-color: rgb(95, 88, 88);
    width: 100%;
    bottom: 0px;
    left: 0px;    
    height: 50px;
}