body {
    background-color: rgb(253, 251, 251);
    padding: auto;
    margin: auto;
    align-items: center;
}

#cabecalho { 
    display: flex;
    position: fixed;
    top: 0;
    padding-left: 10px;
    margin-left: 0px;
    width: 100%;
    height: 75px;
    border: 5px;
    background-color:#036B52;
    color: rgb(253, 251, 251);
}

#titulo {
    font-family: monospace;

}

#minha_foto {
    margin-top: 100px;
    margin-bottom: 0;
    top: 300px;
    width: 200px;
    position: static;
    border-radius: 250px;
}

table, tr, th {
    padding: 15px;
    margin: 20px;
    border: 2px black solid;
    border-collapse: collapse;
}

.lado-direito {
    width: 40%;
    padding-left: 10px;
    margin-left: 10px;
    border: 5px;
    border: #29627e 5px solid;
    color: black;
    float: right;
    font-style: italic;
    }

p {
  font-family: serif;  
  font-size: small; 
  line-height: 1;
}

.lado-esquerdo {
    width: 55%;
    padding-left: 10px;
    margin-left: 10px;
    float: left;
    border: #29627e dotted 5px;
    color: black;
  
}
  

#rodape {

    display: flex;
    bottom: 0;
    padding-left: 10px;
    margin-left: 10px;
    width: 100%;
    border: 5px;
    background-color: rgb(212, 212, 211);
    font-family: sans-serif;
}