body {
    background-color: rgb(253, 251, 251);
    font-family: 'Montserrat', sans-serif;
}
#cabecalho {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: rgb(40, 40, 38);
    color: rgb(253, 251, 251);
    text-align: center;
}
ul {
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}
nav ul li:hover{
    font-weight: bold;
}
#perfil {
    min-height: 240px;
    background-image: url(quadriculado.png);
    /* background-size: auto; */
    background-repeat: no-repeat;
    /* box-shadow: 3px 3px 15px 1px rgb(129, 129, 129); */
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
}
#minha_foto {
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-top: 20px;
    margin-left: 10%;
    border: 5px solid rgb(241, 87, 35);
    box-shadow: 3px 5px 1px rgb(250, 171, 28),-6px -3px 1px rgb(92, 79, 161);
}
#descricao {
    float: right;
    text-align: center;
    margin-top: 50px;
    margin-right: 10%;
}
#nome {
    font-family: 'Fira Code', monospace;
    font-size: 25px;
    color: rgb(253, 251, 251);
    background-color: rgb(92, 79, 161);
    padding-top: 5px;
    padding-bottom: 5px;
}
#estudante {
    background-color: rgb(250, 171, 28);
    color: rgb(92, 79, 161);
    font-weight: 600;
    display: inline;
}
#turma {
    background-color: rgb(250, 171, 28);
    color: rgb(92, 79, 161);
    font-size: 12px;
    font-weight: 600;
    display: inline;
}
#skills {
    margin-top: 50px;
    min-height: 400px;
}
h2 {
    font-family: 'Fira Code', monospace;
    color: rgb(92, 79, 161);
    font-size: 25px;
    margin-left: 25px;
}
#habilidades{
    display: inline-block;
    margin-top: 50px;
    margin-left: 170px;
}
ol li {
    font-size: 25px;
    line-height: 40px;
}
ol li:hover {
    color: rgb(92, 79, 161);
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
#coluna_1 {
    float: left;
    margin-left: 100px;
    margin-top: 1%;
}
#coluna_2{
    float: left;
    margin-left: 130px;
    margin-top: 1%;
}
#floating_direita {
    float: left;
    max-width: 45%;
}
#imagem_skills {
    height: 350px;
    float: right;
    margin-right: 100px;
    margin-top: 20px;
    vertical-align: middle;
}
#artigos {
    min-height: 600px;
    /* background-color: hotpink; */
}
#listrado {
    position: absolute;
    z-index: 0;
    width: 98%;
    height: 150px;
    margin-left: 1%;
}
.lado-esquerdo {
    position: absolute;
    z-index: 1;
    float: left;
    max-width: 60%;
    /* border: 4px solid rgb(92, 79, 161); */
    background-color: rgb(253, 251, 251);
    margin-left: 5%;
    margin-top: 60px;
    box-shadow: -5px -5px 8px rgb(194, 194, 194);
}
.lado-direito {
    position: absolute;
    z-index: 1;
    float: right;
    margin-left: 68%;
    margin-right: 5%;
    margin-top: 60px;
    background-color: rgb(253, 251, 251);
    box-shadow: -5px -5px 8px rgb(194, 194, 194);
}
.lado-esquerdo p , .lado-direito p{
    margin-left: 25px;
    margin-right: 25px;
}