@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: #235945;
  color: white;
  font-size: 1.5rem;
  border-bottom: 1px solid #132623;
  z-index: 999;
}

header h1 {
  text-align: center;
  margin: 8px 0;
}

main {
  margin-top: 100px;
  text-align: center;
}

#minha_foto {
  border-radius: 50%;
  border: 3px solid #235945;
  width: 300px;
}

main a {
  color: white;
  text-decoration: none;
  background-color: #235945;
  padding: 10px 20px;
}

#lists .lado-esquerdo, .lado-direito {
  display: inline-block;
  background-color: rgb(253, 251, 251);
  margin: 50px 50px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

#lists li {
  text-align: justify;
  padding-left: 10px;
  line-height: 1.5rem;
}

footer {
  background-color: #235945;
  width: 100%;
  height: 50px;
  margin: ;
}