
body {
   margin-top: 15%;
   background-color: rgb(253, 251, 251);
   text-align: center;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   margin-left: 0%;
   line-height: 1.5em;
}

header{
   background-color: rgba(96, 153, 58, 0.836);
   top: 0%;
   position: fixed;
   width: 100%;
   margin: 0%;
}

#minha_foto {
    border-radius: 50%;
}

section {
    background-color: rgba(96, 153, 58, 0.836);
    padding: 4%;
}