body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: green;
  z-index: 1;
}

h1 {
  text-align: center;
}

main {
  margin-top: 8%;
}

img {
  width: 250px;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}

h2 {
  text-align: center;
}

table {
  width: 500px;
  text-align: center;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 25px;
  margin: auto;
  vertical-align: auto;
  position: absolute;
  margin-left: 350px;
  margin-top: 100px;
}

table tr th {
  border: 1px solid black;
}

table tr td {
  border: 1px solid black;
}

nav {
  margin: auto;
  width: 35%;
}

ol {
  float: left;
}

ul {
  float: right;
}

section {
  margin: auto;
  width: 80%;
  clear: both;
}

.lado-esquerdo {
  float: left;
  width: 350px;
}

.lado-direito {
  float: right;
  width: 350px;
}

p {
  line-height: 20px;
}

footer {
  clear: both;
  text-align: center;
  margin-bottom: 20px;
}

footer p {
  font-size: large;
}

a {
  color: black;
}
