body {
  background-color: rgb(253, 251, 251);
  font-family: sans-serif;
  font-size: large;
  line-height: 30px;
}

header {
  position: fixed;
  background-color: green;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  top: 0;
  z-index: 5;
}

.ola {
  font-size: 150px;
  color: green;
  margin-left: 60px;
  position: absolute;
  margin-top: 2%;
}

.ola:hover {
  color: yellowgreen;
  transition: 3s;
}

p {
  max-width: 80%;
  padding: 8px;
}

.artigo1 p {
  margin-left: 350px;
  width: 30%;
}

.lado-esquerdo {
  background-color: yellowgreen;
  display: inline-block;
  width: 30%;
  position: absolute;
  z-index: 3;
  margin-top: 6%;
}

.aside1 p {
  margin-left: 350px;
  width: 60%;
}

.indice {
  display: inline;
  list-style-type: none;
  word-spacing: 30px;
  text-align: center;
}

.indicelista {
  display: inline-block;
  background-color: yellow;
  border: yellowgreen;
  border-style: outset;
  font-size: 25px;
}

.lado-direito {
  background-color: yellowgreen;
  margin-top: -10px;
}

aside .lado-direito {
  display: inline-block;
  width: 30%;
  margin-left: 59%;
  margin-top: 10%;
}

.lado-esquerdo .lado-direito {
  display: inline-block;
  width: 30%;
  z-index: 4;
}

main {
  margin-top: 10%;
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  position: absolute;
  width: 200px;
  border-radius: 30%;
  margin-top: 5%;
  margin-left: 10%;
  border: greenyellow;
  border-style: outset;
  border-width: 5px;
}

.ol , .ul {
  margin-top: 50px;
  display: inline-block;
  margin-left: 26.4%;
  background-color: yellowgreen;
  border: green;
  border-style: outset;
}

.ul {
  margin-left: -1px;
}

footer {
  background-color: green;
  width: 100%;
}

table {
  border: 5px solid yellowgreen;
  float: right;
  margin-right: 9.6%;
}

.rodape {
  margin-left: 8%;
  text-align: center;
}
