#cabecalho {
  top: 0;
  position: fixed;
  width: 100%;
}

#minha_foto {
  padding-top: 150px;
  display: inline-block;
}

#titulo {
  text-align: center;
  font-family: monospace;
  font-size: 28px;
  letter-spacing: 10px;
  text-decoration: underline;
}

#link {
  display: block;
}

#tabela {
  background-color: chartreuse;
  display: inline-block;
  margin-left: 300px;
}

.lado-direito {
  display: inline-block;
  width: 500px;
  text-align: center;
  padding-left: 10%;
  position: absolute;
}

.list {
  display: inline-block;
  margin: 6%;
  border: outset rgb(56, 150, 64) 2px;
  border-radius: 10%;
  line-height: 25px;
}

header {
  background-color: green;
}

body {
  background-color: rgb(253, 251, 251);
}

h2 {
  text-align: center;
  font-family: monospace;
}

h3 {
  padding-top: 10px;
  color: greenyellow;
}

article {
  display: inline-block;
  width: 500px;
  text-align: center;
  padding-left: 50px;
}

footer {
  padding-bottom: 0;
  background-color: green;
  width: 100%;
}
