body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0%;
  background-color: royalblue;
  width: 100%;
  text-align: center;
}
#titulo {
  margin-top: 0px;
}

#minha_foto {
  width: 300px;
}

#listas {
  width: 100%;
}
ol {
  display: inline-block;
  width: 40%;
}
ul {
  display: inline-block;
  width: 40%;
}