body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    background-color: beige;
    left: 0;
    right: 0;
    height: 60px;
}

#titulo {
    color: black;
}

#minha_foto {
    width: 400px;
    border-radius: 50%;
    margin-top: 100px;
}

#licoes_aprendidas {

}

#licoes_a_aprender {

}

#rodape {

}