body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    top: 0;
    position: fixed;
    background-color:#343434;
    color: #F7FFF7;
    display: block;
    width: 100%;
    left: 0;
}

#minha_foto{
    width: 200px;
    margin-top: 80px;
}

#licoes_aprendidas, #licoes_a_aprender{
    display: inline-block;
}
