body {
  background-color:rgb(253, 251, 251);
  font-family: 'Trebuchet MS',sans-serif;

}

header {
  top: 0;
  background-color: #04830b;
  width: 10000px;
  }

.titulos {
  margin-left: 110px;
}

#cabecalho {
  color: white;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  top: 0;
  position: fixed;
}

.menu {
  color: white;
  text-decoration: none;
  padding: 30px 30px;
}

#minha_foto {
  width: 150px;
  border-radius: 50px;
  margin-left: 10px;
  margin-top: 150px;
}
.nome {
  font-size: 50px;
  margin-left: 10px;
  margin-top: 10px;
}
.lições-geral {
  width: 30%;
  margin: 10px;
  display: inline-block;
  margin-top: 10px;
}

#licoes_aprendida #licoes_a_aprender {
  color: black;
}

.artigo {
  max-width: 90%;
  margin-left: 10px;
  text-align: justify;
  display: inline-block;
}

#rodape {
  color: black;
}
