body {
  background-color: rgb(253, 251, 251);
  margin: 0px;
  font-family: Epilogue, sans-serif;
  font-size: 21px;
  letter-spacing: .2mm;
  color: rgb(94, 86, 86);

}

h2 {
  text-align: center;
  font-size: 45px;
  margin: 120px 0px 100px;
  color: rgb(3, 109, 85);
}

#cabecalho {
  position: fixed;
  top: 0%;
  background-color: rgb(3, 109, 85);
  color:rgb(255, 255, 255);
  width: 100%;
}

#titulo {
  text-align: center;
  font-size: 60px;
  font-style: italic;
  margin: 25px 0px 0px 290px;
  /* background-color: royalblue; */
  display: inline-block;
}

#minha_foto {
  margin: auto;
  width: 200px;
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  border:solid 3px rgb(165, 163, 163);
  transition-property: border-color;
  transition-duration: 1s;
}

#minha_foto:hover {
  border-color: rgb(3, 109, 85);
}

.trybe{
  /* background-color: slateblue; */
  margin-left: 50px;
}

.nav-bar {
  text-align: center;
}

.nav-bar ul {
  list-style: none;
}

.nav-bar li {
  display: inline-block;
  padding-left: 50px;
}

.nav-bar li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-bar li a:hover {
  color:rgb(165, 163, 163)
}

.foto{
  width: 100%;
  text-align: center;
  margin-top: 250px;
}

.foto p{
  font-size: 20px;
  font-weight: bold;
}

.foto a {
  text-decoration: none;
  transition-property: color;
  transition-duration: 1s;
  display: inline-block;
}

.foto a:visited {
  color: rgb(94, 86, 86);
}

.foto a:hover {
  color: rgb(3, 109, 85);
}

.licoes ul, ol {
  width: 100%;
}

.licoes li{
  font-size: 30px;
  line-height: 2;
  list-style: none;
  color: rgb(255, 255, 255);
  padding: 50px;
  width: 80%;
  margin: auto;
}

.licoes li:nth-child(odd){
  background-color: rgb(3, 109, 85);
}

.licoes li:nth-child(even){
  background-color: rgb(8, 194, 150);
}

@font-face {
  font-family: Epilogue;
  src: url(./fonts/Epilogue-VariableFont_wght.ttf);
}