
body {
    background-color: rgb(253, 251, 251);
}

h1 {
    text-align: left;
    position: fixed;
    left: 20px;
}

header {
    height: 90px;
}

li {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
    position: fixed;
    top: 0;
    background-color: lavender;
    width: 100%;
}

#titulo {
    font-family: Arial, Helvetica, sans-serif;
    position
}

#minha_foto {
    border-radius: 20%;
    position: absolute;
    top: 100px;
    left: 20px;
    width: 300px;
}

#licoes_aprendidas {
    position: absolute;
    top: 400px;
}

#licoes_a_aprender {
    position: absolute;
    top: 750px;
}