* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: white;
  font-family: Montserrat, sans-serif;
}

li {
  padding: 0 20px;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

#navigation_bar li {
  display: inline-block;
}

#cabecalho {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  background-size: cover;
  background-image: url(images/capalinkedin.png);
  background-position: 0 20%;
  height: 70px;
  line-height: 70px;
  color: white;
  z-index: 999;
}

#navigation_bar {
  margin-top: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
}

.presentation {
  width: 100%;
  height: 300px;
  position: relative;
}
#presentation2 {
  position: relative;
  max-width: 50%;
  left: 40%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #475550;
}

#minha_foto {
  width: 250px;
  position: relative;
  border-radius: 50%;
  border: 5px solid #026B52;
  left: 15%;
  bottom: 10%;
}

.texts {
  background-color: #F0F2F5;
  height: 300px;
  position: relative;
}

.lado-esquerdo {
  display: inline-block;
  position: relative;
  width: 35%;
  line-height: 25px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 70px;
}

.lado-direito {
  display: inline-block;
  position: relative;
  width: 35%;
  line-height: 25px;
  text-align: center;
  left: 110px;
}

.listas {
  position: relative;
  height: 400px;
  list-style-type: none;
  text-align: center;
}

.listas h3 {
  color: #026B52;
}

.listas div {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 300px;
  box-shadow: 7px 5px 5px 5px rgba(0, 0, 0, 0.164);
  margin: 50px 50px;
  border-radius: 5px;
  padding: 30px;
}

#table h2 {
  color: #026B52;
  display:inline-block;
  padding-top: 20px;
}

#table {
  background-color: #F0F2F5;
  height: 500px;
  position: relative;
  text-align: center;
}

.tg  {
  border-collapse:collapse;
  border-color:#bbb;
  border-spacing:0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}

.tg td {
  background-color:#E0FFEB;border-color:#bbb;border-style:solid;border-width:0px;
  color:#594F4F;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;
}
.tg th {
  background-color:#9DE0AD;border-color:#bbb;border-style:solid;border-width:0px;
  color:#493F3F;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;
}

.tg .tg-rebb {
  border-color:inherit;font-family:Verdana, Geneva, sans-serif !important;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.tg .tg-1av6 {
  border-color:inherit;font-family:Verdana, Geneva, sans-serif !important;text-align:center;text-decoration:underline;
  vertical-align:top;
}

.tg .tg-jzjz {
  font-family:Verdana, Geneva, sans-serif !important;text-align:center;vertical-align:top
}

.tg .tg-ix6g {
  border-color:inherit;font-family:Verdana, Geneva, sans-serif !important;text-align:center;vertical-align:top
}

#rodape svg:hover {
  fill: rgb(0, 0, 0);
}

#rodape svg {
  fill: #026B52;
  width: 30px;
  margin: 0 4px;
}

#rodape {
  text-align: center;
  font-size: 14px;
  height:fit-content;
}



