@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    background-color: rgb(253, 251, 251);
    /*margin: 0px;*/
    /*padding: 0px;*/
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color:rgb(58,195,144);
    
}

#cabecalho {
    top: 0px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
}

#cabecalho #caixa-do-titulo {
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    display: table;
}

#cabecalho #caixa-do-titulo h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    color: rgb(58,195,144);
}

#cabecalho #navegacao {
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    display: table;
    border: #b33333;
    border-width: thin;
}

#cabecalho #navegacao #botao-inicio{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color:rgb(58,195,144);
    position: relative;
    left: 10px;
}

#cabecalho #navegacao #botao-fim{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color:rgb(58,195,144);
    position: relative;
    left: 25px;
}

#conteudo-perfil {
    background-color: rgb(58,195,144);
    max-width: 70%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

/*#conteudo:after {
    display: block;
    clear: both;
}*/

#conteudo-perfil #caixa-da-imagem {
    width: 200px;
    flex: 0 0 200px;
    float: left;
}

#conteudo-perfil #caixa-da-imagem  img {
    max-width: 100%;
    border-radius: 50%;
}

#conteudo-perfil #caixa-da-imagem h2 {
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(68,73,85);
}

#conteudo-perfil #caixa-do-texto {
    padding-right: 10px;
}

#conteudo-perfil #caixa-do-texto p{
    position: relative;
    left: 15px;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    color:#ffffff;   
}

#barra-lateral {
    width: 28%;
    height: 650px;
    position: relative;
    bottom: 300px;
    /*margin-left: 950px;*/
    border-radius: 10px;
    background-color: #057ceb;
    float: right;
}

#barra-lateral h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    text-align: right;
    font-weight: bold;
    color:#ffffff;
    margin: 50px 10px;
    margin-right: 60px;
    font-style: oblique;
}

#barra-lateral #item il {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color:#ffffff;
    position: relative;
    right: 10px;
}

#barra-lateral #item #subitem il {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    color:#ffffff;
    position: relative;
    right: 20px;
}

#conteudo-aprendido {
    max-width: 70%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(58,195,144);
}

#conteudo-aprendido h4 {
    text-align:left;
    font-size: 19px;
    font-weight: bold;
    color:rgb(68,73,85);
    margin-top: 10px;
    margin-bottom: 10px;
}

#conteudo-aprendido #conteudo-esquerda {
    max-width: 50%;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(58,195,144);
    float: left;
}

#conteudo-aprendido #conteudo-esquerda p {
    text-align:center;
    font-size: 18px;
    font-weight: bold;
    color:#057ceb;
}

#conteudo-aprendido #conteudo-esquerda #licoes_aprendidas li {
    text-align:left;
    font-size: 16px;
    margin-right: 20px;
    font-weight: bold;
    color:#057ceb;
}

#conteudo-aprendido #conteudo-direita p {
    text-align:center;
    font-size: 18px;
    font-weight: bold;
    color:#b33333;
}

#conteudo-aprendido #conteudo-direita {
    max-width: 50%;
    border-radius: 20px;
    border-style: dashed;
    border-width: 5px;
    border-color: rgb(58,195,144);
    float: right;
}

#conteudo-aprendido #conteudo-direita #licoes_a_aprender li {
    text-align:left;
    font-size: 16px;
    margin-right: 20px;
    font-weight: bold;
    color:#b33333;
}

#rodape {
    bottom: 0px;
    width: 100%;
    height: 40px;
    margin-top: 325px;
    box-sizing: border-box;
}

#rodape h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: rgb(58,195,144);
    position: relative;
    top: 10px;
    left: 195px;
}

#rodape  a {
    float: right;
}

#rodape  #github {
    position: relative;
    bottom: 42px;
    left: 50px;
}

#rodape  #linkedin {
    position: relative;
    bottom: 43px;
    right: 550px;
}