body {
  background-color: rgb(253, 251, 251);
  margin: auto;

}

#cabecalho {
  background-color: #036b52;
  color: aliceblue;
  text-align: center;
  padding: 20px;
  margin-top: 0 px;
  width: 1366px;



}

#minha_foto {
  padding: 10px;
  border-radius: 50%;
  width: 20%;


}

#licoes_aprendidas {
  list-style: decimal;

}

#licoes_a_aprender {
  list-style: circle;
}

.contacts {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
