body {
  background-color: rgb(253, 251, 251);
  margin: 0;


}


#cabecalho {
  top: 0;
  position: fixed;
  background-color: rgb(16, 16, 17);
  width: 100%;
  height: 7%;
}

#titulo {
  margin-left: 100px;
  color: white;
}

#minha_foto {
  border-radius: 80%;
  margin-left: 20px;
  margin-top: 90px;
  width: 7%;
  height: 7%;
}

#rodape {
  height: 50px;
  margin-bottom: 0;
  color: white;
  background-color: rgb(87, 87, 87);
  width: 100%;
  padding-top: 8px;

}

#texto1 {
  margin-left: 50px;
  
}
#foto {
  margin-top: 10px;
  margin-left: 97%;
  position: fixed;
  width: 30px;
  height: 30px;

}
