
body {
    background-color:rgb(253, 251,251)
}

#minha_foto {
    width: 300px;
    margin-top: 80px;
    }
#cabecalho {
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: rgb(76, 170, 126);
    color: rgb(253, 251, 251);
    text-align: center;
}
#licoes_aprendidas {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif; 
}
#licoes_a_aprender {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#rodape {
    font-size: 10px;
    color: grey;
    
}
a {
    font-size: 25px;
    left: 50px;
}
.aprendidas {
    font-size: 30px;
    margin: 15px;
    border: 15px;
    padding: 15px;
}
.queroaprender {
    font-size: 30px;
}
.lado-direito {
  font-size: 25px;
  padding: 30px 70px 90px 70px;
  margin: auto;
  }
  .lado-esquerdo {
    padding: 30px 70px 90px 70px;
    margin: auto;
    font-size: 25px; 
    width: 80%;
    }
    .conteiner-text {
        width: 30%;
        display:inline-block;
        vertical-align:top;
        text-align:center;
        margin:10px;
    }
    .botaoside {
    position: relative;
    width: 80px; 
    height: 50%; 
    float: right; 
    padding: 50px;
    top: 100x;
    left: 500px;
}  
.sizefooter {
    font-size: 20px;
}
.stiloptabela {
font-size: 30px;
position: center;
}



