body{
    background-color: rgb(253, 251, 251);
}
#cabecalho{
    background-color: rgb(7, 131, 168);
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    padding: 25px;
    text-align: center;
    z-index: 1;
}
#titulo{
    color: lightgoldenrodyellow;
    display: inline;
    margin-top: auto;
    text-align: center;
}
#minha_foto{
    width: 200px;
    margin-top: 100px;
    border-radius: 50%;
    position: absolute;
    display: block;
}
.listas{
    display: inline-block;
    font-size: 20px;
    margin-top: 300px;
    text-align: center;

    
}
#licoes_aprendidas{
    background-color: #f5f5f5;
    display: inline-block;
    left: 0;
    border-right-width: 40px;
    width: 50%;

}
#licoes_a_aprende{
    background-color: #f5f5f5;
    display: inline-block;
    right: 0;
}