body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: sans-serif;
}

#cabecalho {
  background-color: rgb(255, 202, 212);
  top: 0;
  position: relative;
}

#titulo {
  text-align: center;
  font-size: 3em;
  display: block;
  margin: 0;
  padding: 30px;
  color: rgb(157, 129, 137);
}

nav {
  text-align: center;
  background-color: rgb(157, 129, 137);
  height: 60px;
  padding-top: 10px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 80px;
}

nav a {
  text-decoration: none;
  font-weight: 900;
  color: white;
}

#sobre_mim {
  text-align: center;
}

#minha_foto {
  max-width: 20%;
  border-radius: 50%;
  margin: 30px;
}

#sobre_mim p {
  text-align: left;
  line-height: 20px;
  max-width: 70%;
  margin: 0;
  float: right;
  padding-top: 80px;
  padding-right: 30px;
}

.lado-direito {
  display: inline-block;
  margin: 30px;
  max-width: 60%;
}

.lado-esquerdo {
  display: inline-block;
  margin: 30px;
  max-width: 20%;
}

.icon {
  width: 45px;
  margin: 1px;
}

#rodape a {
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  background-color: rgb(255, 202, 212);
  color: rgb(157, 129, 137);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  width: 100px;
}
