/* Inspirado em https://ro.pinterest.com/pin/422281193863667/ 
   Paletas de cores: https://coolors.co/1e3f20-345830-16173d-4a7856-94ecbe */
body {
background-color: rgb(253, 251, 251);
font-family: Antic Didone, serif;
font-weight: 200; /* Ref.: Google Fonts. */
}

h1 {
font-family: Poppins, sans-serif; /* Ref.: Google Fonts. */
z-index: 3;
margin-left: 500px;
font-weight: 100;
}

h2 {
margin-bottom: 1px;
color: rgb(30, 63, 32);
}

h3 {
margin-bottom: 2px;
color: rgb(30, 63, 32);
}

header {
background-color: rgb(253, 251, 251);
z-index: 1;
position: fixed;
margin: 0;
width: 100%;
height: 150px;
top: 0;
left: -2px;
color: rgb(22, 23, 61);
font-size: 2em;
}

ul , ol {
list-style-type: none;
}

ul li a img {
width: 20px;
padding: 5px;
}

article {
display: inline-block;
width: 300px;
margin: 50px 0 100px 490px;
text-align: justify;
}

aside {
display: inline-block;
width: 200px;
vertical-align: top;
text-align: right;
margin: 50px 0 0 100px;
}

footer {
font-size: 0.75em;
margin-left: 250px;
text-align: center;
line-height: 10px;
}

nav ul li {
display: inline-block;
}

nav {
position: relative;
left: -20px;
}

a {
color: rgb(22, 23, 61);
font-weight: 600;
text-decoration: none;
}

#facts {
margin: 175px 0 0 450px;
}

.left_bg {
position: fixed;
z-index: 1;
top: 0;
left: 0;
}

.blur_bg {
height: 700px;
}

.minha_foto {
position: fixed;
z-index: 2;
top: 50px;
left: 150px;
height: 300px;
border-radius: 50%;
border: 1px solid rgb(1, 17, 10);
box-shadow: 0 0 10px 1px rgb(1, 17, 10);
/* Ref.: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
}
