body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
}

#titulo {
    color: white;
    text-align: center;
}

#minha_foto {
    
}