body {
  background-color:rgb(253,251,251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#cabecalho .container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lightseagreen;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  border: 3px solid black;
}

.navegacao a {
  text-decoration: none;
  color: inherit;
  margin-left: 15px;
}
.navegacao {
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  display:block;
  border-bottom: 1px solid black;
}


#minha_foto {
  margin-top: 110px;
  border-radius: 30px;
}

.licoes_lado_A {
  width: 20%;
  padding-left: 15px;
  margin-left: 2px;
  float: left;
  font-style: italic;
  background-color: lightgray;
}

.licoes_lado_B {
  width: 20%;
  padding-left: 15px;
  margin-right: 55%;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

#tabela {
  border:2px solid black;
}

.lado-direito {
  width: 40%;
  margin-top: 15px;
  padding-left: 5px;
  margin-left: 5px;
  float: left;
  font-style: italic;
  background-color: lightgray;
  display: inline-block;
  offset: initial;
}

.lado-esquerdo {
  width: 40%;
  margin-top: 15px;
  padding-left: 15px;
  margin-right: 10%;
  padding-bottom: 100px;
  float: right;
  font-style: italic;
  background-color: lightgray;
  display: inline-block;
  offset:initial;
}

p {
  font-weight: 16px;
  color: darkblue;
  line-height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#rodape {
  font-weight:1.2px bold;
  background-color: black;
  color: white;
  bottom:0;
  width:100%;
  margin: auto auto;
  padding: 4px 4px;
  clear: both;
}