body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  padding-top: 180px;
  font-family: Nunito, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

#cabecalho {
  position: fixed;
  height: 120px;
  width: 100%;
  top: 0%;
  color: white;
  text-align: center;
  background-color: mediumseagreen;
}

#cabecalho a {
  color: white;
}

h1 {
  margin: 10px;
}

#h2 {
  margin: auto;
  font-style: italic;
}

#nav {
  border: 8px;
  border-top: double;
  border-bottom: double white;
  background-color: mediumseagreen;
}

.listas li {
  margin-left: 50px;
}

#nav li {
  display: inline-block;
  width: 200px;
  font-weight: 500;
  font-size: 18px;
}

.listas ul {
  margin: 0 20px;
}

#nav ul {
  margin: 5px;
}

#nav a:hover {
  color: darkgreen;
  font-weight: 600;
}

.foto {
  background-image: url('./images/grama.jpg');
  height: auto;
}

#apresenta {
  text-align: center;
}

#minha_foto {
  margin: 40px;
  border-style: double;
  border-color: white;
  border-radius: 5px;
  box-shadow: 15px 15px 15px rgba(2, 247, 84, 0.534);
}

.legend {
  color: white;
  font-weight: 800;
  font-size: 35px;
  font-style: italic;
}

#main {
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}

article {
  width: 80%;
  margin: 20px auto;
  text-align: justify;
}

#h3 {
  text-align: center;
  font-size: 25px;
  color: green;
}

#sections {
  margin: auto;
  width: 80%;
  background-color: rgb(255, 228, 225, 0.4);
}

.listas {
  display: inline-block;
  margin-left: 3px;
  width: 49%;
  color: darkmagenta;
}

.listas p {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  width: 60%;
  text-align: center;
}

.aside p {
  margin: 20px;
  color: darkgreen;
  line-height: 22px;
}

.footer p {
  background-color: darkgreen;
  color: white;
  text-align: center;
  font-size: 24px;
}

#final {
  margin: 20px auto;
  width: 100%;
  height: auto;
  font-size: 18px;
}

#conteudos {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
}

.tabela {
  margin: 0;
  width: 60%;
  text-align: center;
}

.tabela td:hover {
  color: darkgreen;
  font-weight: 800;
}

.aside {
  padding-left: 40px;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
  border-left-style: double;
  border-color: mediumseagreen;
  width: 25%;
  float: right;
}

.titulos {
  font-size: 20px;
  font-weight: 800;
}

#gus:hover {
  color: red;
  font-weight: 800;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: min-content;
  border-style: double;
  border-color: mediumseagreen;
}

footer {
  background-image: url('./images/grama.jpg');
  height: 100px;
}

#link-trybe {
  color: green;
  background: lightgreen;
  border-style: double;
}

#link-trybe:hover {
  background-color: green;
  color: white;
}

h5 {
  margin-right: 15px;
  text-align: right;
  font-style: italic;
  font-size: large;
  color: white;
}
