body{
    background-color: rgb(253, 251, 251);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px ;
}

#cabecalho{
    top: 0;
    position: fixed;
    background-color: #343434;
    color: #F7FFF7;
    display: block;
    width: 100%;
    left: 0;
    padding: 20px;
}

#navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation a {
    color: #6CA6C1;
    text-decoration: none;
    display: block;  
}

#navigation a:hover{
    color: aqua;
}

#minha_foto{
    width: 200px;
    margin-top: 150px;
}

#licoes_aprendidas , #licoes_a_aprender{
    display: inline-block;
}

.lado-esquerdo{
    display: inline-block;
    width: 70%;
    margin-right: 10px;
}

.lado-direito{
    display: inline-block;
    width: 28%;
    vertical-align: top;
}

/* .lado-esquerdo{
    float: left;
    width: 70%;
    margin-right: 30px;
}

h2{
    clear: both;
} */

table{
    border: 2px solid black;
    border-collapse: collapse;
    clear: both;
}

td , th{
    border: 1px solid black;
    
}

#rodape{
    margin-top: 30px;
    font-size: 0.7em;
}

#rodape a{
    text-decoration: none;
    color: #036b52;
}

#rodape a:hover{
    color: #2fc18c;;
}
