
body{
    background: rgb(253, 251, 251);
}

#cabecalho{
    top: 0;
    position: fixed;
    margin-left: 300px;
    font-family: monospace;
}

#minha_foto{
    width: 762px;
    margin-left: 200px;
    
}

article {
    width: 550px;
    font-family: monospace;
    font-size: 19px;
    background-color: rgba(141, 221, 37, 0.527);
    padding: 10px;
    margin-left: 200px;
    letter-spacing: 1px;

}

aside{
    width: 170px; 
    background-color: rgb(0, 128, 128);
    padding: 5px 11px 96px; 
    word-spacing: 4px;
    color: white;
    font-weight: bolder;
    margin-right: 365px;
}

.lists{
    font-family: sans-serif;
    padding: 10px 18px 10px 14px;
    width: 55%;
    margin-left:200px;
    background: rgb(143, 199, 86);
}

.listas{
    width: 40%;
    text-align: center;
    margin-left: 35px;
    display:inline-block;
}

.separatextos{
    display: inline;
}

#lado-esquerdo{
float: left;
}

#lado-direito{
float: right;
}

nav{
    text-decoration: none;
}
.footer{
    clear: both;
    background-color: teal;
    font-size: 20px;
    text-align: center;
    padding: 2px 0px 5px 0px;
    margin: auto;
    border-style: solid;
}
