body {
  background-color: rgb(253, 251, 251);
}

header {
  background-color: lavender;
  padding: 0 500px;
  position: fixed;
  top: 0;
}

#minha_foto {
    margin-top: 150px;
    width: 300px;
    border-radius: 50%;
  }
  
 
