body {
      background-color: rgb(253, 251, 251);
}

header {
        position: fixed;
        top: 0;
}

.conteudo {
           margin-top: 100px;
}

#licoes_aprendidas, #licoes_a_aprender {
                                        display: inline-block;
}