body {
    background: rgb(253, 251, 251);
}
header {
    position: fixed;
    top: 0;
    background-color: rgb(235, 200, 84);
    font-size: 60px;
    margin-right: auto;
    margin-left: auto;
    height: 80px;
    width: 100%;
    text-align: center;
}
main {
    margin-top: 150;
    
}
minha_foto {
    display: block;
    margin-left: auto;
    margin-right: auto }