body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    display: block;
    top: 0;
    background-color: beige;
}

#titulo {
    color: black;
}

#minha_foto {
    width: 400px;
}

#licoes_aprendidas {

}

#licoes_a_aprender {

}

#rodape {
    
}