body{
    background-color:rgb(253, 251, 251) ;
}

#cabecalho{
    top: 0;
    position: fixed;
}

header{
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}

#licoes_a_aprender{
    font-size: 20px;
    color: cadetblue;
    line-height: 30px;
    font-family: monospace;
}


.lado-direito{
    display: inline-block;      
    
}