body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: darkgreen;
  height: 100px;
}

#minha_foto {
  border-radius: 50%;
  margin-top: 10px;
  width: 200px;
}

#titulo {
  color: rgb(253, 251, 251);
  text-align: center;
}

main {
  margin-top: 100px;
  padding: 10px;
}

#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
}
