* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: "Roboto", sans-serif;
}

#cabecalho {
  position: fixed;
  padding: 20px;
  width: 100%;
  background-color: rgb(38, 102, 155);
  display: inline-block;
}

#cabecalho h1 {
  font-weight: 550;
  font-size: 3em;
  display: inline-block;
  color: white;
  padding-left: 50px;
}

.navegador {
  display: inline-block;
  font-size: 30px;
  padding-left: 120px;
  text-transform: uppercase;
  color: white;
}

li {
  margin-bottom: 15px;
  text-align: left;
}

.lista-navegador li {
  display: inline-block;
  margin-left: 70px;
  text-decoration: none;
}

#minha_foto {
  border-radius: 10px;
  margin: 150px 0 20px 70px;
}

.conteudo-licoes {
  text-align: center;
}

.secao-direita {
  display: inline-block;
}

.secao-esquerda {
  display: inline-block;
}

.subtitulo {
  font-weight: 500;
  font-size: 50px;
  margin: 10px 70px 20px;
  padding: 10px 30px;
  background-color: rgb(79, 142, 194);
  color: white;
  border-radius: 5px;
  width: 600px;
  text-align: center;
}

#licoes_aprendidas , #licoes_a_aprender {
  padding-left: 350px;
  font-size: 20px;
  margin: 50px 0;
}

.artigo {
  font-size: 20px;
  line-height: 2em;
  text-align: center;
}

.lado-esquerdo {
  display: inline-block;
  width: 30%;
  margin-right: 150px;
  text-align: left;
  padding: 20px;
}

.lado-direito {
  display: inline-block;
  width: 30%;
  text-align: left;
  vertical-align: top;
  padding: 20px;
}

.lado-direito , .lado-esquerdo {
  border: rgb(130, 169, 200) 2px solid;
  border-radius: 8px;
}

.titulo-tabela {
  font-size: 35px;
  text-align: center;
  margin-top: 70px;
  color: rgb(38, 102, 155);
}

.tabela {
  width: 500px;
  margin: 30px auto;
  border: rgb(79, 142, 194) solid 2px;
  padding: 20px;
  background-color: rgb(79, 142, 194);
  color: white;
  font-size: 30px;
  text-align: center;
  border-radius: 8px;
}

th {
  padding-bottom: 20px;
}

td {
  padding-bottom: 20px;
}

#rodape {
  text-align: center;
  padding: 30px 0;
  margin-top: 80px;
  background-color: rgb(38, 102, 155);
  color: white;
}

#rodape a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

#rodape a:hover {
  color: rgb(8, 32, 51);
}
