body {
  background-color: rgb(253, 251, 251);
}
#cabecalho {
  position: fixed;
  top: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#minha_foto {
  width: 100px;
  position: absolute;
  top: 100px;
  left: 500px;
}
table {
  border: solid 2px black;
  position: absolute;
  top: 250px;
  left: 450px;
}
footer {
  text-align: center;
}
div ol {
  margin-top: 80px;
}
div nav {
  padding: 10px;
  border: solid 2px rgb(9, 77, 9);
  background-color: green;
  width: 80px;
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
  font-size: larger;
}
a {
  text-decoration: none;
  color: white;
}