body {
  background-color: rgb(253, 251, 251);
  font-family: 'Montserrat', sans-serif;
}
#cabecalho {
  position: fixed;
  top: 0;
  font-size: 10px;
  background-color: rgb(0, 128, 0);
  width: 100%;
}
#cabecalho h1 {
  text-align: center;
}
#menu {
  background-color: rgb(1, 56, 1);
  padding-bottom: 10px;
  padding-top: 10px;
}
a {
  padding-left: 3%;
  color: aliceblue;
  font-size: 15px;
}
.table {
  display: table;
  margin-top: 5%;
}
.box {
  float: left;
  width: 50%;
  padding: 50px;
  height: 100px;
  box-sizing: border-box;
}
.link {
  color: blue;
  margin-top: 150px;
}
.lado-esquerdo {
  float: left;
  width: 45%;
}
.list {
  padding-bottom: 250px;
  margin-right: 60%;
  margin-top: 30px;

}
.lado-direito {
  float: right;
  width: 45%;
}
.border {
  border-style: ridge;
}

p {
  line-height: 1.5;
}
#rodape {
  background-color: silver;
  margin-top: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  clear: both;
}
