body {
  background-color: rgb(253, 251, 251);
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  top: 0;
  padding: 10px;
}

img {
  width: 280px;
  margin-top: 120px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
}
