body{
    background-color: rgb(253, 251, 251);
    margin: 0;
    line-height: 40px;
}
#cabecalho{
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 40%;
    border-style: double;
    border-color: aqua;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: blueviolet;
}
#licoes_a_aprender{
    float: right;
    width: 50%;
}
#licoes_aprendidas{
    float: left;
    width: 40%;
}

#minha_foto{
    margin-left: 42%;
    padding-top: 10%;
}