body {
    background-color: rgb(253, 251, 251);
    margin: 0%; 
}

#cabecalho{
    position: fixed;
    top: 0;
    width:100%;
    background-color: blue;
}
#cabecalho h1{
    margin-top: 0%;
    font-family::'Courier New', Courier, monospace;
    text-align: center;
    font-size: 40px;
}

nav{
    position: absolute;
    top: 7%;
    width: 100%;
}   
nav ul{
    text-align: center;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    margin: 0%;
}
nav li{
    text-align: center;
    display: inline-block;
}
ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
}
nav ul li a:hover{
    background-color: black;
}

#minha_foto{
    padding-top: 10%;
    width: 20%;
    display: block;
}

#licoes_aprendidas{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}
#licoes_a_aprender{
    font-family: monospace;
}

.container{
    height: 100%;
    border: black;
    border-style: groove;
    overflow: auto;
}
.lado-esquerdo{
    font-family: monospace;
    width: 45%;
    float: left;
    padding: 1px;
}
}
.lado-direito{
    font-family: monospace;
    width: 45%;
    float: right;
    padding: 1px;
    border:black;
    border-style:groove
}

table{
    bottom: 100%;
}
table tr td{
    text-align: center;
}
table tr td a{
    text-align: center;
    color: rosybrown;
}

#rodape{
    background-color: blanchedalmond;
}
#rodape h1{
    margin: 0;
}