/* GLOBAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: rgb(253, 251, 251);
	font-family: 'Poppins', sans-serif;
}

/* HEADER	*/
#cabecalho {
	position: fixed;
	text-align: center;
	top: 0;
	padding: 1rem;
	background: #036b52;
	margin: auto;
	left: 0;
	right: 0;
	z-index: 1;
}

#titulo {
	color: #fff;
}

/* MAIN */

#minha_foto {
	border-radius: 50%;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 100px;
}
#meu_nome {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 270px;
	text-align: center;
	color: #2f3136;
}

.container {
	width: min(90vw, 700px);
	margin: auto;
	z-index: 0;
}

h2 {
	margin-top: 20rem;
	font-weight: normal;
	color: #363f5f;
}

.cartao {
	background: #2f3136;
	padding: 1.3rem 3rem 17.0rem;
	border-radius: 0.40rem;
	margin-bottom: 2rem;
	color: #fff;
}
.cartao_artigo {
	background: #2f3136;
	padding: 1.5rem 2rem 18.8rem;
	border-radius: 0.40rem;
	margin-bottom: 2rem;
	color: #fff;
}
#licoes_aprendidas {
	float: left;
	position: relative;
	display: inline-block;
}

#licoes_a_aprender {
	float: right;
	position: relative;
	display: inline-block;
}

.lado-esquerdo {
	float: left;
	width: 300px;
}

.lado-direito {
	float: right;
	width: 300px;
}

/* FOOTER */

footer {
	background: #202020;
	width: 100%;
	color: white;
	padding: 20px;
	margin: auto;
}

.copyright {
	color: #C7C7C7;
	font-size: 12px;
}

.copyright a {
	color: white;
	font-weight: bold;
}