body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: 'Roboto';
  letter-spacing: 1px;
  font-size: 16px;
}

.container {
  width: 1200px;
  margin: auto;

}


#cabecalho {
  background-color: #036b52;
  color: aliceblue;
  text-align: center;
  padding: 20px;
  margin: 0px;
  position: fixed;
  width: 100%;
  top: 0;

}

#quem-sou {

  display: inline-flex;
  margin-top: 155px;
  width: 100%;
  align-items: center;


}

.col-1 {

  width: 35%;
  margin: auto;
  display: inline-flexbox;

}

.col-2 {

  width: 50%;

}


.col-2 li {

  text-align: left;
  color: #0c4934;


}

.col-3 {

  width: 100%;
}

#minha_foto {

  padding: 10px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: rgba(196, 196, 196, 0.1);
  margin-left: 20px;

}

nav {
  width: 1200px;
  height: 30px;
}

nav ul li {

  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline;


}

nav a {
  color: antiquewhite;
  text-decoration: none;
  border-bottom: 3px solid #EDEDED;

}

nav a:hover {
  background-color: #05441f;
  color: #f0f0f0;
  border-bottom: 3px solid #5be41b;
}






table {

  width: 400px;
}

#sobre {

  width: 100%;
  text-align: start;
  font-size: 17px;
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 20px;
  background-color: rgb(21, 135, 91);
  border-radius: 5px;
  display: inline-block;
  padding: 5%;



}


.licoes li {
  list-style: none;
  display: flexbox;
  float: right;

}




#licoes_aprendidas {
  list-style: decimal;
  border-radius: 4px;

}

#licoes_a_aprender {
  list-style: circle;
  border-radius: 4px;

}

.contacts {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

article {

  display: inline-block;
  width: 50%;
  text-align: justify;
  margin: auto;
}

aside {
  background-color: rgb(243, 243, 243);
}


.lado-esquerdo {
  display: flexbox;
  float: left;
  width: 50%;

}

.lado-direito {
  display: flexbox;

}

#rodape {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}
