body {
  background-color: rgb(253, 251, 251);
}

nav {
  margin-top: 100px;
  text-align: center;
}

nav a {
    padding: 0 20px;
}

article {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    color: seagreen;
}

#cabecalho {
  margin: 0px 0px 0px -6px;
  padding: 0 0 0 10px;
  width: 99%;
  height: auto;
  border: 2px solid #000;
  position: fixed;
  top: 0;
}

#minha_foto {
    margin-top: 10px;
    height: 160px;
    width: 160px;
}