body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: darkblue;
  color: white;
  width: 100%;
  font-style: italic;
  padding-left: 30px;
}

nav {
  margin-top: 90px;

}

#minha_foto {
  width: 100px;
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9%;
}

.lista-tabela {
  max-width: 900px;
  margin: auto;
}

.lista-tabela ol , ul , table {
  display: inline-block;
  margin-right: 30px;
  align-items: center;
}

ol ul {
  display: inline-block;
}

table {
  background-color: lightgray;
  border-collapse: collapse;
}

table td , th {
  border: solid 1px black;
  padding: 6px;
}

p {
  line-height: 23px;
  text-align: justify;
}

.lado-esquerdo {
  float: left;
}

.lado-direito {
  float: right;
}

.texts {
  margin: auto;
  max-width: 900px;
}

.texts article , aside {
  display: inline-block;
  max-width: 333px;
}

footer {
  background-color: cadetblue;
  height: 60px;
  margin-top: 300px;
}

footer a {
  clear: both;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}
