
body {
    background-color:rgb(253, 251,251)
}

#minha_foto {
    width: 300px;
    margin-top: 80px;
    }
#cabecalho {
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: rgb(76, 170, 126);
    color: rgb(253, 251, 251);
    text-align: center;
}
#licoes_aprendidas {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif; 
}
#licoes_a_aprender {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#rodape {
    font-size: 10px;
}
a {
    font-size: 25px;
    left: 50px;
}
.aprendidas {
    font-size: 30px;
}
