body {
  background-color: rgb(253, 251, 251);
}

header {
  color: rgb(253, 251, 251);
  background-color: rgb(17, 163, 106);
  position: fixed;
  padding: 10px;
  width: 100%;
  top: 0px;
}

nav a {
  color: rgb(253, 251, 251);
  text-decoration: none;
}

#titulo {
  text-align: center;
}

#licoes {
  font-family: Helvetica, Arial, Verdana, Tahoma;
  color: rgb(17, 163, 106);
  font-size: 20px;
}

#minha_foto {
  margin-top: 140px;
  display: block;
  height: 300px;
  width: 250px;
}

#licoes_aprendidas {
  line-height: 1.4;
  float: left;
}

#licoes_a_aprender {
  margin-left: 150px;
  margin-top: 35px;
  line-height: 1.4;
}

div {
  display: inline-block;
  margin-bottom: 50px;
  text-align: center;
  padding: 10px;
  width: 40%;
}
